{% block form_errors -%}
    {% if errors|length > 0 -%}

        {%- for error in errors -%}
            <p class="alert alert-danger m-t">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    {% set class = class|default('form-control') -%}
    <input type="{{ type }}" class="{{ class }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block button_widget -%}
    {% set class = class|default('btn btn-primary block full-width m-b') -%}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                '%class%': class,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" class="{{ class }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}
