{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Your connections in Connect have been re-enabled!
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:0 0 0px">
We would like to let you know that all the connections you have in Connect have been re-enabled.
</p> 
<p style="padding:0 0 0px">
Your new subscription period begins today and ends on <b>{{ '{{ new_period_end_date }}' }}</b>.  
</p> 
<p>We're glad you're back and hope you will enjoy <a href="https://docs.x-formation.com/display/CN/Integrations">integrating your apps</a> with Connect!
</p> 
<p style="padding:0 0 20px">
Please see the invoice in the attachment to review all the details regarding your usage of Connect.
</p>
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}