{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Your payment for Connect failed
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:0 0 0px">
Unfortunately we could not process your payment for the usage of Connect for the period <b>{{ '{{ period_start_date }}' }}</b> through <b>{{ '{{ period_end_date }}' }}</b>. All the connections you have in Connect will remain disabled. 
</p> 
<p style="padding:0 0 20px">
Please contact our <a href="mailto:support@x-formation.com?subject=Connect">support team</a> for any questions or suggestions. We will be happy to help you and guide you through the next steps.
</p> 
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}
