{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Your payment for Connect failed
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:20 0 0 0">Unfortunately we could not process your payment for the period <b>{{ '{{ period_start_date }}' }}</b> through <b>{{ '{{ period_end_date }}' }}</b>. 
</p> 
<p style="padding:0 0 20px">
All the connections you have in Connect have been disabled. Please review your credit card details to complete the failed payment. In case of any problems, you can also refer to this <a href="https://docs.x-formation.com/display/CN/Billing+and+payments">troubleshooting article</a>. We will be happy to assist you with any questions.
</p>
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}