{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Your payment for Connect failed
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:0 0 0px">Unfortunately we could not process your payment for the usage of Connect for the period <b>{{ '{{ period_start_date }}' }}</b> through <b>{{ '{{ period_end_date }}' }}</b>. 
</p> 
<p style="padding:0 0 0px">
Please try to update your billing details; otherwise, your connections will be disabled in <b>{{ '{{ days_to_expiration }}' }}</b> days. We will retry to process your payment again in a week from now.
</p>
<p style="padding:0 0 20px">
If you need assistance with the payment, please do not hesitate to contact our <a href="mailto:support@x-formation.com?subject=Connect"> support team</a> and we'll be happy to help you out.
</p> 
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}