{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Connect invoice
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:20 0 0 0px">Thank you for your payment for the period <b>{{ '{{ period_start_date }}' }}</b> through <b>{{ '{{ period_end_date }}' }}</b>.
</p> 
<p style="padding:0 0 20px">
Please see the invoice in the attachment to review all the details regarding your usage of Connect.
</p> 
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}