{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="color: #000;margin: 40px 0 0;font-size: 1.2em">7 days left to start your Connect subscription
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:0 0 0px">We thought that we would let you know that there are 7 days left in your free trial of Connect. We hope you are enjoying your free evaluation and find Connect useful for automating your daily workflow. 
</p> 
<p style="padding:0 0 0px">
We would love to <a href="http://feedback.x-formation.com/lists/1-general/?category=7">get your feedback</a> on how your experience with Connect is going so that we can make it even better for you in the future. If we can be of any further assistance, please contact our <a href="mailto:support@x-formation.com?subject=Connect">support team</a> and we'll be happy to help you out.
</p> 
<p style="padding:0 0 0px">
You still have 7 days to evaluate Connect free of charge, so be sure to make the most of this time!
</p>
<p style="padding:0 0 20px">Take the opportunity to further benefit from the power and simplicity of Connect and continue using the connections you created during the trial by <a href="{{ '{{ scheme_and_host }}' }}/#/admin/billing">starting your subscription</a>.
</p>
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}