{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">End of your free trial of Connect
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:20 0 0 0px">
The 30-day free evaluation period has expired and all your connections have been disabled. You can resume your account at anytime by <a href="{{ '{{ scheme_and_host }}' }}/#/admin/billing">providing your billing information</a>.
</p>
<p style="padding:0 0 20px">
We would like to know the reason why you decided not to start your subscription. Was anything missing that you would have liked to see in Connect? We're really keen to <a href="https://feedback.x-formation.com/list/36372-general/?category=20532">hear from you</a> so that we can keep improving Connect (and ourselves!) to better meet your needs.
</p>
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}