{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">You’re halfway through your free trial of Connect
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ '{{ user_name }}' }},</span>
<p style="padding:20 0 0 0px">
We would just like to remind you that you’re halfway through your 30-day trial of Connect. We hope you are enjoying your free evaluation and find Connect useful for automating your daily workflow. In the meantime, we greatly encourage you to <a href="https://www.x-formation.com/media/blog">visit our blog</a> to find out more about tricks and tips for using Connect.
</p> 
<p style="padding:0 0 0px">
We would love to <a href="http://feedback.x-formation.com/lists/1-general/?category=7">get your feedback</a> on how your experience with Connect is going so that we can improve the product further and make it even better for you in the future. If we can be of any further assistance, please contact our <a href="mailto:support@x-formation.com?subject=Connect">support team</a> and we’ll be happy to help you out.
</p> 
<p style="padding:0 0 20px">
You still have 15 days to evaluate Connect free of charge, so be sure you make the most of this time!
</p>
<p style=" margin:0px;">Best regards,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}