{% extends "::base.html.twig" %}

{% set attribute = {
      body: {class: "gray-bg"}
} %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@sass_error' filter='?uglifycss' package='css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="middle-box text-center animated fadeIn">
        <h1>{% trans %}error.generic.code{% endtrans %}</h1>
        <h3 class="font-bold">{{ status_code }} - {% trans %}error.generic.title{% endtrans %}</h3>

        <div class="error-desc m-b-lg">
            {% trans %}error.generic.text{% endtrans %}
        </div>
                <a href="/" class="btn btn-primary">{% trans %}error.generic.link{% endtrans %}</a>
    </div>

{% endblock %}
