
<div class="row"  ng-show="form.config.type">

    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">

            <div class="ibox-title">
                <h5 translate>account.item.title.config</h5>
            </div>

            <div class="ibox-content">

                <form name="formConfig" class="form-horizontal" novalidate>

                    <div cnInputControl label="app">
                        <div cnInput config="form.config.field.type" name="type"
                              ng-disabled="view.mode=='edit'"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
