<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">

            <div class="ibox-title">
              <h5>{{ 'account.item.title.name' | translate }}</h5>
            </div>

            <div class="ibox-content">

                <form name="formAccount" class="form-horizontal" novalidate>

                    <div ng-show="view.action.info">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>account.item.info.title</label>
                            <div class="col-sm-10">
                                <p translate>account.item.info.text</p>
                                <p ng-if="view.action.context"><i translate>{{ form.info.context }}</i></p>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>

                    <div cnInputControl label="app">
                        <div cnInput config="form.config.field.type" name="type"
                              ng-disabled="view.mode=='edit'"></div>
                    </div>

                    <div cnInputControl label="name" ng-show="form.config.type">
                        <div cnInput config="form.config.field.name" model="name" name="name"></div>
                    </div>

                    <div ng-show="view.mode === 'edit'">

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <span  ng-repeat="btn in form.button.account">
                                    <cn:button config="btn">{{ "button." + btn.label }}</cn:button>
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row"  ng-show="form.config.type">

    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">

            <div class="ibox-title">
                <h5 translate>account.item.title.config</h5>
            </div>

            <div class="ibox-content">

                <form name="formConfig" class="form-horizontal" novalidate>

                    <div class="form-group info" ng-if="form.config.type === 'hipchat'">
                        <label class="col-sm-2 control-label" translate>account.item.field.token.info_label</label>
                        <div class="col-sm-10" >
                            <p>{{'account.item.field.token.info_text'  | translate }}<a href="{{'account.item.field.token.info_link'  | translate }}" target="_blank">{{'account.item.field.token.info_link_text'  | translate }}</a>{{'account.item.field.token.info_text2'  | translate }}</p>
                        </div>
                    </div>

                    <div ng-repeat="field in form.config.field.config">
                        <div cnInputControl label="{{ field.label || field.model }}">
                            <div cnInput config="field"
                                model="{{ field.prefix && field.prefix.config === false ? field.model : 'config.' + field.model }}"
                                name="{{ field.name || field.model }}"></div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="form.config.oauth">
                        <label class="col-sm-2 control-label" translate>account.item.text.oauth.label</label>
                        <div class="col-sm-10">
                            <p translate translate-value-type="{{ 'account.item.select.type.' + form.config.type | translate }}">
                                {{ 'account.item.text.oauth.' + view.mode }}
                            </p>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <span  ng-repeat="btn in form.button.config">
                                <cn:button config="btn">{{ "button." + btn.label }}</cn:button>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
