<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>{{ form.field.name || 'account.item.title.' + view.mode | translate }}</h2>
        <p translate>{{ 'account.item.intro.' + view.mode | translate }}</p>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div ui-view autoscroll="false"></div>
</div>


