<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-9">
        <h2 translate>account.list.title</h2>
        <p translate>account.list.intro</p>
    </div>
    <div class="col-md-3 head-action">
        <a ui-sref="account.item.add" class="btn btn-primary"><i class="fa fa-plus"></i> <span translate>account.nav.add</span></a>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox animated fadeIn">
                <div class="ibox-title">
                    <h5 translate>account.list.title</h5>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                        class="nowrap table table-striped table-hover data account" width="100%">
                        <thead>
                            <tr>
                                <th class="id never" translate>account.list.table.head.id</th>
                                <th class="name all" translate>account.list.table.head.name</th>
                                <th class="type min-tablet-p" translate>account.list.table.head.type</th>
                                <th class="action all no-sort" translate>account.list.table.head.actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ac in accounts">
                                <td>{{ ac.id }}</td>
                                <td>{{ ac.name || "account.name.none" | translate }}</td>
                                <td>
                                    <cn:account-type type="{{ ac.type }}"></cn:account-type>
                                    <span class="account-type">{{ 'account.item.select.type.'+ ac.type | translate }}</span>
                                </td>
                                <td>
                                    <a ui-sref="account.item.edit({ account: ac.id })" class="btn btn-white" title="{{ 'button.edit' | translate }}">
                                      <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-white"
                                        title="{{ 'account.list.button.source.connect' | translate }}"
                                        ui-sref="connection.item.add.source({ type: ac.type, account: ac.id })"
                                        ng-hide="type.source.indexOf(ac.type)<0">
                                      <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


