<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box connection-none text-center animated fadeIn">
                <h1 translate>account.none.title</h1>
                <h2 class="font-bold" translate>account.none.subtitle</h2>
                <div class="error-desc" translate>account.none.text</div>

                <div class="m-t-lg">
                    <a ui-sref="tutorial.start" class="btn btn-primary">
                        <i class="fa fa-graduation-cap"></i> {{ 'nav.tutorial' | translate }}
                    </a>
                    <a ui-sref="account.item.add" class="btn btn-primary">
                        <i class="fa fa-plus"></i> {{ 'account.nav.add' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
