{% extends '::Email/base.html.twig' %}

{% block content %}
<h1 style="font-size: 1.5em;">Hello {{ name }},</h1> 
<p style="font-size: 1.15em;">A new Connect account has just been created for you:</p> 
<p style="font-size: 1.15em;">Company: {{ vendor }}</p> 
<p style="font-size: 1.15em;">Username: {{ email }}</p>
<p style="font-size: 1.15em; padding-bottom: 2em;">Please click the button below to set your password and activate your Connect account.</p>
<p style="text-align: center;"><a href="{{ link }}" style="background-color: #1AB394; text-decoration:none; color:white; text-align: center; padding: 12px 30px; border-radius: 7px; font-size: 16px; font-weight: bold;" target="_blank">ACTIVATE ACCOUNT</a></p>
<p style="font-size: 1.15em; padding-top: 2em;">After activating your account, you'll automatically be logged into Connect.</p> 
<p style="font-size: 1.15em; margin:0px;">Best regards,</p>
<p style="font-size: 1.15em; font-weight: bold; margin:0px;">X-Formation</p>
{% endblock %}