{% extends '::Email/base.html.twig' %}

{% block content %}
<h1 style="font-size: 1.5em;">Hello {{ name }},</h1>
<p style="font-size: 1.15em; padding-bottom: 2em;">It seems that the email address associated with your Connect account needs to be verified. To confirm your email address, please click the button below:</p>
<p style="text-align: center;"><a href="{{ link }}" style="background-color: #1AB394; text-decoration:none; color:white; text-align: center; padding: 12px 30px; border-radius: 7px; font-size: 16px; font-weight: bold;" target="_blank">CONFIRM EMAIL</a></p>
<p style="font-size: 1.15em; padding-top: 2em;">Verifying your email address will ensure that you will receive all important email notifications from us.</p>
<p style="font-size: 1.15em; margin:0px;">Thanks,</p>
<p style="font-size: 1.15em; font-weight: bold; margin:0px;">X-Formation</p>
{% endblock %}
