{% extends '::Email/base.html.twig' %}

{% block content %}
<h1 style="font-size: 1.5em;">Hello {{ name }},</h1>
<p style="font-size: 1.15em; padding-bottom: 2em;">You recently requested a password reset for your Connect account. Please click the button below to change your Connect password.</p>
<p style="text-align: center;"><a href="{{ link }}" style="background-color: #1AB394; text-decoration:none; color:white; text-align: center; padding: 12px 30px; border-radius: 7px; font-size: 16px; font-weight: bold;" target="_blank&quot;">RESET PASSWORD</a></p>
<p style="font-size: 1.15em; padding-top: 2em;">The option of reset will expire in 24 hours, so be sure to use it right away. After resetting your password, you'll automatically be redirected to the Connect login page.</p>
<p style="font-size: 1.15em; margin:0px;">Thanks for using Connect!</p>
<p style="font-size: 1.15em; font-weight: bold; margin:0px;">X-Formation</p>
{% endblock %}