{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6; font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; ">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">Welcome to Connect
	<br/> Your 30-day free trial begins today
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;">Hello {{ name }},</span>
<p style="">
	Thank you for signing up for Connect. We're happy to inform you that your trial account has been successfully created and your 30-day free trial period begins today.
</p>
<p style="">Our 30-day trial gives you a taste of Connect and time to evaluate if it's right for you. We hope that in the upcoming days you will become fully comfortable with using Connect to
<a href="https://docs.x-formation.com/display/CN/Integrations">integrate the apps</a> 
you use every day and cut down on manual work so you can focus on more important tasks. Make the most of this opportunity!
</p>
<p style="padding-top: 0.01em">
	The email address associated with your Connect account has not been verified, so we strongly encourage you to confirm it now.
</p>
<p style="text-align: center;"><a href="{{ link }}" style="background-color: #1AB394; text-decoration:none; color:white; text-align: center; padding: 12px 30px; border-radius: 7px; font-size: 16px; font-weight: bold;" target="_blank">CONFIRM EMAIL</a></p>
This will ensure that you will receive all important email notifications from X-Formation.
</p> 
<p style="margin-top: 25px;padding:0 0 20px">We would be happy to hear how your experience with Connect is going, so please <a href="https://feedback.x-formation.com/list/36372-general/?category=20532">share with us</a> your comments, suggestions or ideas for features you'd like to see in Connect in the future.</p> 
<p style=" margin:0px;">Again, welcome to Connect!</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}
