{% import "::elements.html.twig" as base %}
<!DOCTYPE html>
{{ base.element("html", attribute.html|default({})|merge({ lang: app.request.getLocale() })) }}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% trans %}meta.keywords{% endtrans %}">
        <meta name="description" content="{% trans %}meta.description{% endtrans %}">

        {{ base.element("title", attribute.title|default({})) }}{% trans %}product.title{% endtrans %}</title>

        {% block stylesheets %}
            {% stylesheets '@css_libs' filter='?uglifycss' package='css' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block head %}{% include '::head.html.twig' %}{% endblock %}

        {% if google_analytics_enabled %}
            <script>
                {% include "::ga.js.twig" %}
            </script>
        {% endif %}

        {% if fullstory_analytics_enabled %}
            <script>
                {% include "::fs.js.twig" %}
            </script>
        {% endif %}
    </head>
    {{ base.element("body", attribute.body|default({})) }}

        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts '@js_libs' filter='?uglifyjs2' package='js' output='js/compiled/libs.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
