{% macro element(tag, attributes) %}
{% spaceless %}
    <{{ tag }}{% for attrname, attrvalue in attributes %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
{% endspaceless %}
{% endmacro %}

{% macro copyright(class) %}
  <a target="_blank" class="copyright {{class}}" href="https://www.x-formation.com" alt="{% trans %}company.name{% endtrans %}">
    &copy; {{ "now"|date("Y") }} {% trans %}company.name{% endtrans %}
  </a>
{% endmacro %}