<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('ico/apple-touch-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('ico/apple-touch-icon-60x60.png') }}'">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('ico/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('ico/apple-touch-icon-76x76.png') }}'">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('ico/apple-touch-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('ico/apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('ico/apple-touch-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('ico/apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('ico/apple-touch-icon-180x180.png') }}">
<link rel="icon" type="image/png" href="{{ asset('ico/favicon-32x32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ asset('ico/favicon-194x194.png') }}" sizes="194x194">
<link rel="icon" type="image/png" href="{{ asset('ico/favicon-96x96.png') }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ asset('ico/android-chrome-192x192.png') }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ asset('ico/favicon-16x16.png') }}" sizes="16x16">
<link rel="manifest" href="{{ asset('ico/manifest.json') }}">
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="{{ asset('ico/mstile-144x144.png') }}">
<meta name="msapplication-config" content="{{ asset('ico/browserconfig.xml') }}">
<meta name="theme-color" content="#1ab394">
