  <form name="formConnection" class="form-horizontal" novalidate>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox animated fadeIn">
                <div class="ibox-title">
                    <h5>{{ 'connection.item.title.connection.name' | translate }}</h5>
                </div>
                <div class="ibox-content">

                    <div ng-show="view.action.info">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>connection.item.info.source.title</label>
                            <div class="col-sm-10">
                                <p translate>connection.item.info.source.text</p>
                                <p ng-if="view.action.context"><i translate>{{ form.info.context }}</i></p>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>

                    <div cnInputControl label="name">
                        <div cninput config="form.config.field.name" model="name" name="name"></div>
                    </div>

                    <div cnInputControl label="state">
                        <div cninput config="form.config.field.enabled" model="enabled" name="status"></div>
                    </div>

                </div>

                <div class="ibox-title second">
                    <h5>{{ 'connection.item.title.source.name' | translate }}</h5>
                </div>
                <div class="ibox-content">

                    <div cnInputControl label="app">
                        <div cnInput config="form.config.field.type" model="form.config.type" name="type"
                                ng-disabled="view.mode==='edit' || view.action.account === false"></div>
                    </div>

                    <div ui-view="form" autoscroll="false"></div>

                </div>
            </div>
        </div>
    </div>
  </form>
