<div class="row wrapper border-bottom white-bg page-heading head-connection">
    <div class="col-lg-12">
        <h2>{{ view.mode=='edit' ? (form.field.name || 'connection.item.title.connection.add' | translate) : (form.field.name || 'connection.item.title.connection.add' | translate) }}</h2>
        <p translate>{{ 'connection.item.intro.' + view.mode }}</p>
    </div>

    <div class="col-lg-12 tabs">
        <div class="btn-group" >

            <button class="btn" ng-class="view.name=='source' ? 'active' : ''">
                <span translate>connection.list.table.head.source</span>
            </button>

            <a class="btn btn-outline btn-white"
                ng-if="data.source"
                ui-sref="connection.item.edit.source.edit({connection: data.connection.id})"
                ui-sref-active="active-item">
                <span translate>{{ 'account.item.select.type.' + data.source.account.type }}</span>
            </a>
        </div>

        <div class="btn-group">
            <i class="fa fa-long-arrow-right"></i>
        </div>

        <div class="btn-group" >

            <button class="btn" ng-class="view.name=='destination' ? 'active' : ''">
                <span translate>connection.list.table.head.destinations</span>
            </button>

            <a class="btn btn-outline btn-white"
                ng-repeat="ds in data.destinations | orderBy:'id'"
                ui-sref="connection.item.edit.destination.edit({connection: data.connection.id, destination: ds.id})"
                ui-sref-active="active-item">
                <span translate>{{ 'account.item.select.type.' + ds._embedded.account.type }}</span>
            </a>

            <a class="btn btn-outline btn-white"
                ng-disabled="view.name=='source' && view.mode=='add'"
                ui-sref="connection.item.edit.destination.add({connection: data.connection.id})"
                ui-sref-active="active-item">
                <span class="fa fa-plus" ng-if="view.name=='source' || (view.mode=='edit' || view.mode=='add' && !form.config.type)"></span>
                <span ng-if="view.name=='destination' && view.mode=='add' && form.config.type" translate>{{ 'account.item.select.type.' + form.config.type }}</span>
            </a>
        </div>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div ui-view autoscroll="false"></div>
</div>
