<div ng-show="form.config.type" class="animated fadeIn">

    <div cnInputControl label="account">
        <div ng-class="{'input-group': view.action.account}">

            <div cnInput config="form.config.field.account" model="form.config.account" name="account"
                    ng-disabled="!form.config.type || view.mode === 'edit' || view.action.account === false">
            </div>

            <span class="input-group-btn" ng-show="view.action.account">

                <a class="btn"
                    ui-sref="account.item.edit({account: form.config.account.id, connection: data.connection.id, destination: view.mode === 'add' ? 'add' : data.destination.id})"
                    ng-class="view.mode ==='add' ? 'btn-default' : 'btn-primary'"
                    ng-show="form.config.account" translate>button.edit</a>

                <button class="btn btn-primary"
                    type="button"
                    ui-sref="account.item.add({type: form.config.type, connection: data.connection.id, destination: 'add'})"
                    ng-show="view.mode === 'add'" translate>button.new</button>

            </span>
        </div>
    </div>

    <div ng-show="form.config.account">

        <div ng-repeat="field in form.config.field.config">
            <div cnInputControl label="{{ field.label || field.model }}">
                <div cnInput config="field"
                    model="{{ field.model === false ? 'false' : ('config.' + field.model + '.value') }}"
                    name="{{ field.name || field.model }}"></div>
            </div>
        </div>

        <div ng-repeat="field in form.config.field.dynamic">
            <div cnInputControl label="{{ field.label || field.model }}" labelTranslate="false">
                <div cnInput config="field" model="{{ 'config.' + field.model + '.value' }}" name="{{ field.name || field.model }}"></div>
            </div>
        </div>

        <div class="hr-line-dashed" ng-show="form.config.field.template"></div>

        <div ng-repeat="(key, template) in form.config.field.template">

            <div ng-repeat="meta in template.meta">

                <div cnInputControl label="{{ form.config.type + '_' + key + '_' + meta.model}}">
                    <div cnInput
                        config="meta"
                        model="{{ 'config.' + key + '.meta.' + meta.model}}"
                        name="{{ form.config.type + '_' + key + '_' + meta.model}}"></div>
                </div>
            </div>

            <div cnInputControl label="{{ form.config.type + '_' + key }}">
                <div cnInput
                    class="{{ template.value.name || form.config.type + '_' + key }}"
                    config="template.value"
                    model="{{ 'config.' + key + '.value' }}"
                    name="{{ form.config.type + '_' + key }}"></div>
            </div>
        </div>

        <div ng-show="form.config.attachment">

            <div class="hr-line-dashed"></div>

                <div cnInputControl label="attachment">
                    <button type="button" class="btn btn-white"
                        ng-click="addAttachment()"
                        ng-disabled="attachmentDisable"
                        ng-show="!form.field.attachments.length"
                        translate>connection.item.button.attachment.add</button>
                    <div ng-repeat="(key, field) in form.field.attachments track by $index">
                            <div cnInput type="attachment" model="attachments[key]" class="m-b-sm"></div>
                    </div>
                </div>
        </div>

    </div>

</div>

<div class="hr-line-dashed"></div>

<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <span  ng-repeat="btn in form.button">
            <cn:button config="btn">{{ 'button.' + btn.label }}</cn:button>
        </span>
    </div>
</div>

<script type="text/ng-template" id="ref-search">
    <ul class="list-group ref-search scroll">
        <li mentio-menu-item="field" ng-repeat="field in items" class="list-group-item">
            <span class="text-primary"
                ng-bind-html="field.name | translate"></span>
        </li>
    </ul>
</script>
