<div ng-show="form.config.type">

    <div cnInputControl label="account">
        <div ng-class="{'input-group': view.action.account}">

            <div cnInput config="form.config.field.account" model="form.config.account" name="account"
                    ng-disabled="!form.config.type || view.mode === 'edit' || view.action.account === false">
            </div>

            <span class="input-group-btn" ng-show="view.action.account">

                <a class="btn"
                    ui-sref="account.item.edit({account: form.config.account.id, connection: view.mode === 'add' ? 'add' : data.connection.id})"
                    ng-class="view.mode==='add' ? 'btn-default' : 'btn-primary'"
                    ng-if="form.config.account" translate>button.edit</a>

                <button class="btn btn-primary"
                    type="button"
                    ui-sref="account.item.add({type: form.config.type, connection: 'add'})"
                    ng-if="view.mode==='add'" translate>button.new</button>

            </span>
        </div>
    </div>

    <div ng-show="form.config.account">

        <div class="hr-line-dashed"></div>

        <div ng-repeat="field in form.config.field.config" class="animate fadeIn">

            <div class="hr-line-dashed"  ng-if="field.model === 'query'"></div>

            <div cnInputControl label="{{ field.label || field.model }}">
                <div cnInput config="field"
                    model="{{ field.prefix && field.prefix.form === false ? field.model : 'config.' + field.model }}"
                    name="{{ field.model }}"
                    application="{{ form.config.type }}"></div>
            </div>
        </div>

        <div cnInputControl label="fieldrules">
            <div ng-repeat="(key, rule) in form.field.field_rules">
                <div cnInput type="fieldrule" model="field_rules[key]"></div>
            </div>

            <button type="button" class="btn btn-white"
                ng-click="addFieldRule()"
                ng-show="!form.field.field_rules.length"
                translate>connection.item.button.fieldrule.add</button>
        </div>

    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <span  ng-repeat="btn in form.button">
            <cn:button config="btn">{{ 'button.' + btn.label }}</cn:button>
        </span>
    </div>
</div>
