<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">
            <div class="ibox-title">
                <h5>{{ 'connection.item.title.destination.name' | translate }}</h5>
            </div>
            <div class="ibox-content">

                <form name="formDestination" class="form-horizontal" novalidate>

                    <div ng-show="view.action.info">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>connection.item.info.destination.title</label>
                            <div class="col-sm-10">
                                <p translate>connection.item.info.destination.text</p>
                                <p ng-if="view.action.context"><i translate>{{ form.info.context }}</i></p>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>


                    <div cnInputControl label="app">
                        <div cnInput config="form.config.field.type" model="form.config.type" name="type"
                                ng-disabled="view.mode==='edit' || view.action.account === false"></div>
                    </div>

                    <div ui-view="form" autoscroll="false"></div>

                </form>

            </div>

        </div>
    </div>
</div>
