<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-9">
        <h2 translate>connection.list.title</h2>
        <p translate>connection.list.intro</p>
    </div>
    <div class="col-md-3 head-action">
        <a ui-sref="connection.item.add.source" class="btn btn-primary"><i class="fa fa-plus"></i> <span translate>nav.connection.item</span></a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">
            <div class="ibox-title">
                <h5 translate>connection.list.title</h5>
            </div>
            <div class="ibox-content">

                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                    class="nowrap table table-striped table-hover data connection" width="100%">
                    <thead>
                        <tr>
                            <th class="id never" translate>connection.list.table.head.id</th>
                            <th class="name all" translate>connection.list.table.head.name</th>
                            <th class="min-tablet-l" translate>connection.list.table.head.source</th>
                            <th class="desktop" translate>connection.list.table.head.destinations</th>
                            <th class="status min-tablet-p" translate>connection.list.table.head.status</th>
                            <th class="action text-right no-sort all" translate>connection.list.table.head.actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cn in connections">
                            <td>{{ cn.id }}</td>
                            <td>{{ cn.name || ("connection.name.none" | translate) }}</td>
                            <td>
                                <a ui-sref="connection.item.edit.source.edit({connection: cn.id, destination: ds.id})">
                                    <cn:icon-app class="icon-box"
                                        account="{{ cn._embedded.account.type }}"
                                        cn-title="cn._embedded.account.name"
                                        cn-enabled="cn.enabled"
                                        cn-status="cn._embedded.status.source"
                                        cn-status-global="{{ cn._embedded.status.global }}">
                                </a>
                            </td>
                            <td>
                                <a ng-repeat="ds in cn._embedded.destinations | orderBy:'id'"
                                    ui-sref="connection.item.edit.destination.edit({connection: cn.id, destination: ds.id})">
                                    <cn:icon-app class="icon-box"
                                        account="{{ ds._embedded.account.type }}"
                                        cn-title="ds._embedded.account.name"
                                        cn-enabled="cn.enabled"
                                        cn-status="ds._embedded.status"
                                        cn-status-global="{{ cn._embedded.status.global }}">
                                </a>
                            </td>
                            <td data-order="{{ cn._embedded.status.global.level + cn._embedded.status.global.global_code }}">
                                <cn:icon-status class="icon-box"
                                    cn-enabled="cn.enabled"
                                    cn-status="cn._embedded.status.global">
                            </td>
                            <td>
                                <a ui-sref="connection.item.edit.source.edit({connection: cn.id})" class="btn btn-white" title="{{ 'button.edit' | translate }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
  </div>
</div>