<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box connection-none text-center animated fadeIn">
                <h1 translate>connection.none.title</h1>
                <h2 class="font-bold" translate>connection.none.subtitle</h2>
                <div class="error-desc" translate>connection.none.text</div>

                <div class="m-t-lg">
                    <a ui-sref="tutorial.start" class="btn btn-primary">
                        <i class="fa fa-graduation-cap"></i> {{ 'nav.tutorial' | translate }}
                    </a>
                    <a ui-sref="connection.item.add.source" class="btn btn-primary">
                        <i class="fa fa-plus"></i> {{ 'nav.connection.item' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
