@import "../vendor/inspinia/SASS/style.sass"
@import "variables.sass"
@import "media.sass"

@import "profile.sass"
@import "tutorial.sass"
@import "inspinia.sass"

/* global */
h1, h2, h3, h4, h5, h6
  font-weight: 400

a:hover, a:active, a:focus
  outline: none
  -moz-outline-style: none

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus
  outline: none

select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000

select:-moz-focusring *
  color: #000
  text-shadow: none

select::-ms-value
  background-color: transparent
  color: #000

select::-ms-expand
  display: none

.translate-cloak
  opacity: 0

@media (max-width: $break-sm)
  .col-sm-12, .col-md-12, .col-lg-12
    padding-right: 0
    padding-left: 0

/* nav side */
.profile-element
  color: $gray

.logo-element
  display: block
  padding: .1em 0
  font-size: 1em
  h1
    margin: 0
    text-align: center
    font-size: 1.5em
    line-height: 60px
    a:hover, a:active
      color: $white
  .icon
    font-size: 2em
    vertical-align: middle
  span
    vertical-align: middle

.navbar
  margin-bottom: 0

.nav-header
  padding-top: 0
  background-image: none
  text-align: center

body.mini-navbar .logo-element .text
  display: none

.navbar-top-links-cn
  float: right
  margin: 1em 1.5em
  padding: 0
  list-style: none
  li
    display: inline
  .btn-white
    color: #999
  @media (min-width: $break-sm)
    a
      &:after
        content: attr(title)
      i
        margin-right: .5em

.navbar-minimalize
  margin-top: 1em
  padding: 6px 12px

/* flot chart colors */
.text-warning
  polygon
    fill: $yellow
  polyline
    stroke: $yellow
.text-danger
  polygon
    fill: $red
  polyline
    stroke: $red

/* datatables*/
table
  &.data
    text-align: left
    tr > td
      vertical-align: middle
      border-right: 1px solid #ffffff
      @media (max-width: $break-sm)
        padding-left: 5px
        padding-right: 5px
      @media (max-width: $break-xs)
        vertical-align: top
    tr > th
      @media (max-width: $break-sm)
        padding-left: 5px
        text-align: left
    .btn
      min-width: 2em
      margin: 0 .5em 0 0
      padding: 0
      font-size: inherit
      text-align: center
      @media (max-width: $break-sm)
        margin: 0 .2em 0 0
    &.dataTable
      thead > tr > th
        padding-right: 25px
        padding-left: 10px
        border-bottom: none
        &.action
          padding-right: 5px
        @media (max-width: $break-xs)
          padding-right: 0
      tbody > tr.child span.dtr-title
        min-width: 100px
      &.no-footer
        border-bottom: none
      span.account-type
        @media (max-width: $break-sm)
          display: none
  &.connection
    th.action
      width: 40px
  &.admin
    th.action
      width: 40px
    th.status
      width: 80px
    th.charge
      width: 180px
    th.connections
      width: 190px
    th.messages
      width: 190px
    th.start-date
      width: 195px
    th.end-date
      width: 195px
    &.dataTable
      thead > tr > th.status, th.state
        padding-right: 25px
    tr.disabled td
      color: $dark-gray
  &.account
    th.action
      width: 71px
      @media (max-width: $break-xs)
        width: 20px
    th.type
      @media (max-width: $break-sm)
        width: 20px
  &.admin
    th.action
      @media (max-width: $break-xs)
        width: 20px

.dataTables_wrapper
  div.dataTables_length select
    padding-top: 4px
.dataTables_info
  @media (max-width: $break-xs)
    display: none
div.dataTables_filter input
  @media (max-width: $break-xs)
    max-width: 70%
.dataTables_paginate, .dataTables_filter, .dataTables_length
  @media (max-width: $break-xs)
    font-size: 80%
.dataTables_paginate
  li
    a:focus
      outline: none
table.data.dataTable.dtr-inline.collapsed > tbody
  > tr, > tr.parent
    > td:first-child
      padding-left: .5em
      &:before
        @extend .btn, .btn-white
        box-shadow: none
        margin: 0 1em 0 0
        position: initial
        float: left
.ibox-tools
  a.btn-primary
    margin-right: 5px
    font-weight: bold
    i
      margin-right: 10px
  @media (max-width: $break-sm)
    float: right
.icon-box
  border-radius: 3px
  display: inline-block
  vertical-align: middle
  margin: .1em .5em .1em 0
  padding: .25em 0
  width: 2em
  vertical-align: baseline
  text-align: center
  color: $white
  &.rss
    background-color: $yellow
  &.twitter
    background-color: $blueTwitter
  &.slack
    background-color: $greySlack
    padding-top: .3em
    padding-bottom: .2em
  &.smtp, &.imap
    background-color: $navy
  &.hipchat
    background-color: $blueHipchat
  &.webhook
    background-color: $greyWebhook
  &.salesforce
    background-color: $blueSalesForce
  &.jira
    background-color: $blueJIRA
  &.status
    &-disabled
      background-color: $dark-gray
    &-info
      background-color: $navy
    &-warn, &-unknown
      background-color: $yellow
    &-error
      background-color: $red
    &-enabled
      background-color: $navy
  .txt
    display: none

.popover
  font-size: 12px
  font-family: inherit
  @media (max-width: $break-xs)
    width: 12em
  &.top
    width: 16em

input[disabled]
  &::-webkit-input-placeholder
    color: #d6d6d6
  &:-moz-placeholder
    color: #d6d6d6
  &::-moz-placeholder
    color: #d6d6d6
  &:-ms-input-placeholder
    color: #d6d6d6

input[type=hidden]+input[type=number]
  @media (max-width: $break-xs)
    padding-right: 3px
    padding-left: 1px

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
  background-color: $greyDisabled
  color: #999

.form-control, .input-group .form-control
  margin-bottom: .4em
  &.input-empty
    color: #a8a8a8
    option
      color: #555,
      &[disabled]
        color: #a8a8a8

.form-group.info
  p
    padding-top: 7px

.form-horizontal
  .control-label
    text-overflow: ellipsis
    overflow: hidden
  .control-text
    margin: .5em 0
.checkbox label,
.radio label
  padding-left: 0

.ibox-title h5
  float: none

.ibox-title.second
  border-top-width: 1px

textarea
  resize: vertical
  .smtp_body &
    min-height: 11em
  &.attachment
    min-height: 4em

.btn i + span
  margin-left: 3px

.input-group-btn
  vertical-align: top
  .btn
    border-radius: 0
    border-radius: 0
    margin-left: -1px
  &:first-child
    .btn
      margin-left: 0
  &:last-child
    .btn
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
  .form-control
    width: auto

.btn-group
  .btn-group-input
    float: left
    width: auto
    & + .btn
      margin-left: -1px
  &.active-tab
    .btn-default
      background-color: #1ab394
      border-color: #1ab394
    a.active-link
      color: #1ab394
.tabs
  .btn-group
    margin-top: 5px
    button.btn
      background-color: #1ab394
      border-color: #1ab394
      color: #ffffff
      cursor: default
      opacity: 0.5
      transition: opacity .4s
      &.active
        opacity: 1
        transition: opacity .4s
    .btn
      &.active-item
        color: #1ab394
        border-color: #1ab394
        &:hover
          color: #18a689
          border-color: #18a689
      & + .btn
        margin-left: 0
.switch-input
  .switch.green
    background: #c2c2c2
    border-radius: 3px
    width: 102px
    margin-right: 1px
    top: 0px
    small
      border-radius: 3px
    .off
      color: #fff
    &.checked
      background: #1ab394
      border-color: #1ab394
      small
        left: 72px
  .input-group-btn
    display: inline-block

.btn-box
  cursor: default
  color: inherit
  background: white
  border: 1px solid #e7eaec
  &:hover, &:active, &:focus
    @extend .btn-box
    box-shadow: none

.control-input
  .has-error &
    .form-control,
      @extend .form-control
      border-color: #e5e6e7
      &.ng-invalid,
      & ~ .input-group-addon
        background-color: #fff8f8
        border-color: #f4cdcd
        box-shadow: none
        & ~ .control-help
          button.input-help
            @extend .btn-danger
            i
              &.icon-help
                display: none
              &.icon-alert
                display: inline-block

      &.ng-invalid:focus
        border-color: $red !important
      &.ta-editor
        background-color: #fff8f8
        border-color: #f4cdcd
        box-shadow: none
        &.ng-invalid:focus
          border-color: $red !important

    .input-group-addon
      @extend .input-group-addon
      &:first-child
        border-right: 0
        color: #888

  button.input-help
    i
      &.icon-help
        display: inline
      &.icon-alert
        display: none

.cn-notify-message
  text-align: left
  border-color: #eee
  .icon
    font: normal normal normal 14px/1 FontAwesome
    font-size: 2em
    position: absolute
    left: 20px
    top: 35%
    width: 30px
    display: none
  &.alert-danger
    .error-icon
      color: #ED5565
      display: block
      &:before
        content: "\f071"
  &.alert-info
    .success-icon
      color: #1ab394
      display: block
      &:before
        content: "\f00c"
  .notify-message
    float: right
    text-align: left
    margin-left: 35px
  .cg-notify-close
    outline: none

.query-group
  .group-rules
    padding-left: 1em
    border-left: .1em dashed #e5e6e7
    list-style: none
  .group-rule
    @media (max-width: $break-md)
      .rule-part
        display: inline-block
        width: 33.3%
        .form-control
          width: 100%
          padding-left: .5em
          padding-right: 0
      .form-control.rule-part
        float: none

.cn-tooltip
  position: relative
  z-index: 10
  &:after
    position: absolute
    right: 150%
    top: 0
    background: rgba(41,56,70,0.9)
    border-radius: 5em
    content: attr(title)
    color: $white
    padding: .5em 1em
    line-height: 1.5em
    z-index: 100
    opacity: 0
    transition: opacity .4s
    white-space: nowrap
    @media (max-width: $break-xs)
      width: 10em
      white-space: pre-wrap
      right: 120%
  &.cn-tooltip-active:after
    opacity: 1
.ta-editor
  &.form-control
    height: auto
    min-height: 100px
    div
      outline: none
  .placeholder-text::before
    color: $greyPlaceholder

.list-group.scroll
  max-height: 20em
  overflow-y: auto
  min-width: 15em
.list-group-item
  background-color: $white
  &.active, &.active:hover, &.active:focus
    background-color: $navy
    border-color: $navy

.cn-tags
  width: 100%
  .tag-item
    display: inline-block
    & + .form-control
      width: 30%
      display: inline-block
      float: none
      vertical-align: top
    & ~ .control-help
      display: inline-block
      button
      width: auto
  .tag-value.form-control
    display: inline-block
    width: auto
    cursor: default
    float: none
    font-size: 14px
    vertical-align: top
    & + button
      margin-left: -.1em
      margin-right: .5em

.btn.box
  cursor: default
  &:active
    @extend .btn

div.head-connection, div.page-nav
  .btn-primary
    @extend .btn-primary
  .btn-outline
    @extend .btn-outline

mentio-menu
  display: none

.page-heading
  .head-action
    @media (min-width: $break-md)
      margin-top: 2.5em
      text-align: right
.page-nav
  padding: 10px
  background-color: $greyDisabled
  border-bottom: .1em solid $greyBorder
  .item
    & + .item
      margin-left: .5em
    i
      margin-right: .5em

.middle-box
  h1
    font-size: 10em
  &.connection-none
    margin-top: 6em

/* footer*/
.footer
  .terms
    text-align: right
    a
      padding-right: 1.6em
      color: #AEAEAE
    @media (max-width: $break-md)
      text-align: left
  .company
    float: left
    text-align: left
    padding-right: 1.6em
  .copyright, .copyright:hover, .copyright:focus
    color: #aeaeae

/* modal */
.modal-header
  padding: 30px 15px
  text-align: center
  h2
    text-align: center
    font-size: 28px
  i
    font-size: 84px
    color: $modalIcon
.modal-body
  padding: 20px 30px 30px 30px
  background: $formBody
.modal-window
  .modal-dialog
    max-width: 1200px

/*invoice icons*/
.invoice-status
  padding-top: .3em
  padding-bottom: .3em

.charge-date
  padding-left: 2.00em

.invoice-space
  margin-left: 1.00em

.invoice-dashes
  margin-left: .5em
/* trypay */
.trypay
  button.help
    margin-left: -.2em
  .popover-content
  a
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
