#blog
  .main
    background-image: linear-gradient(rgba(0,0,0,0.4), transparent 20%), url("../img/connect-blog.jpg")
    background-position: center bottom
  blockquote.article
    font-size: 1em
  .article
    padding: 2em 0
    border: 0
    h1
      font-size: 2.5em
    p.author
      color: $navy
      &:before
        content: ""
    p.intro
      margin: 1em 0
      font-size: 1.2em
    img
      max-width: 100%
  a.btn-sm
    padding: 5px 10px
    font-size: 12px
  a.back
    margin: .5em 0
  .gray-section
    margin: 0
  &.list
    .main-text
      margin-top: 20em
    .article
      p.intro
        font-size: 1em
  &.item
    .main-text
      margin-top: 10em
