@import "variables.sass"

.form-control
  border: 1px solid $darkFormInput

.ibox-title
  border-color: $veryLightGrey

.ibox-title h5
  color: $mediumGray

.ibox-content
  color: $mediumGray

.hr-line-dashed
  border-top: 1px dashed $dashesDarker

.table > tbody > tr > td
  border-top: 1px solid $veryLightGrey

