.loginscreen
  .logo
    color: #1ab394
    height: auto
    display: block
    border-radius: 5px
    font-weight: 700
    line-height: 20px
    font-size: 2em
    &:hover
      color: #18a689
    .icon
      display: block
      margin-top: .2em
      font-size: 6em
      line-height: .7
    span
      line-height: 55px
      vertical-align: bottom
      text-align: left
      font-size: 20px
  .marketing
    padding: 0 1em
    input
      display: inline
      margin-right: .5em
      vertical-align: top
    label
      display: inline
      font-weight: normal
  .text-muted
    a
      color: $navy
  &.middle-box
    width: 300px
    margin: 0 auto
  .copyright
    color: #aeaeae
    &.small
      font-size: 85%
      display: block
      strong
        font-weight: normall

a:hover, a:active, a:focus
  outline: none
  -moz-outline-style: none

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus
  outline: none
