@media (min-width: $break-sm)
    .text-sm-right
        text-align: right

@media (min-width: $break-md)
    .text-md-right
        text-align: right

@media (min-width: $break-lg)
    .text-lg-right
        text-align: right
