.profile
  .ibox-content
    overflow: hidden
    @media (max-width: $break-xs)
      padding: 15px 0px 20px 0px
  .img-circle
    width: 250px
    height: 100%
    max-width: 100%
    display: block
    margin: 0 auto
  .avatar
    padding-top: 10px
    .block
      text-align: center
  .nav-tabs
    margin-bottom: -2px
    &>li
      &>a
        @media (max-width: $break-sm)
          padding: 15px 15px
        @media (max-width: $break-xs)
          padding: 10px 8px
    &>li.active
      &>a, &>a:hover, &>a:focus
        border-bottom: 1px solid #fff
  .panel-body
    padding: 0
    .tab-content
      padding: 25px
      border: 1px solid #ddd
      border-top: 1px solid transparent
      border-radius: 3px
      @media (max-width: $break-sm)
        padding: 25px 15px
  .input-group[class*="col-"]
    padding-left: 15px
    padding-right: 15px
  .alert
    padding: 0
    margin: 0
    color: #3c763d
  .tooltip-inner
    white-space: pre
    max-width: none
  .text-muted
    color: #bbb
  .fa.fa-envelope.ok
    background-color: #1ab394
  .fa.fa-envelope.warning
    background-color: #f8ac59
  .control-label
    @media (max-width: $break-lg)
      padding-left: 0
      padding-right: 5px
    @media (max-width: $break-sm)
      padding-left: 15px
