.tutorial.connection
    .steps
        margin: 1em 0 0
        button
            width: 15.8%
            overflow: hidden
            margin-bottom: 1%
            text-align: left
            text-overflow: ellipsis
            & + button
                margin-left: 1%
@media (max-width: $break-lg) and (min-width: $break-md)
    .tutorial.connection .steps
        button
            width: 32%
            &:nth-child(3n+1)
                margin-left: 0
@media (max-width: $break-md) and (min-width: $break-xs)
    .tutorial.connection .steps
        button
            width: 49%
            &:nth-child(2n+1)
                margin-left: 0
@media (max-width: $break-xs)
    .tutorial.connection .steps
        button
            width: 100%
            & + button
                margin-left: 0
