@import "variables.sass"
@import "media.sass"

@import "blog.sass"

/* global */
h1
  font-size: 42px

section
  p
    color: #636363
    font-size: 15px
    @media (min-width: $break-xlg)
      font-size: 16.5px
  img
    margin: 0 auto

a:hover, a:active, a:focus
  outline: none
  -moz-outline-style: none

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus
  outline: none

.container
  @media (min-width: $break-sm)
    width: 730px
  @media (min-width: $break-md)
    width: 930px
  @media (min-width: $break-lg)
    width: 1130px
  @media (min-width: $break-xlg)
    width: 1330px

/* top */
.main
  background: url('../img/bg.jpg')
  background-size: cover
  background-position: center
  @media (max-width: $break-sm)
    background-position: center bottom

  .main-text
    margin: 30em 0 4em
    @media (max-width: $break-md)
      margin-top: 20em
    @media (max-width: $break-sm)
      margin-top: 13em
    @media (max-height: 720px)
      margin-top: 20em
    @media (max-height: 660px)
      margin-top: 8.25em
    h1
      color: #fff
      font-size: 4.3em
      font-weight: 600
      text-shadow: 4px 4px 10px #000
      a
        font-weight: 900
        color: #fff
        text-decoration: none
        transition: text-shadow 0.2s linear
        &:hover
          text-shadow: 6px 6px 12px #000
      @media (max-width: $break-sm)
        font-size: 3.5em
    h2
      color: #fff
      text-shadow: 1px 1px 1px #000
      font-size: 1.3em
      font-weight: 700

    .email-box
      display: inline-block
      background-color: rgba(0,0,0,0.35)
      border-radius: .5em
      margin: 3em auto
      padding: 1em 2em 0
      input
        display: inline-block
        padding: 0.63em 0.8em
        border-radius: 6px
        width: 20em
        margin-bottom: 1em
        vertical-align: middle
        @media (max-width: $break-sm)
          width: 100%
      button
        margin-bottom: 1em
        vertical-align: middle

/* logo  */
.navbar-default .navbar-brand
  padding-top: .2em
  padding-bottom: .2em
  font-size: 2em
  margin-left: 0px

  .icon
    font-size: 2em
    margin-right: .1em
  .text
    line-height: 2em
    vertical-align: bottom
  sup
    color: #aed
    font-size: .4em
    font-weight: 400
    line-height: 4.2em
    vertical-align: top

/* navbar logo when fixed */
.navbar.navbar-scroll .navbar-brand
  font-size: 1.5em
  padding: 0 1em
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
  margin-left: 0px


.navbar-default
  .navbar-brand
    font-size: 1.5em
    padding: 0 1em
    margin-top: 11px
    margin-bottom: 11px
    border-radius: 5px
    @media (min-width: $break-sm)
      margin-top: 10px
      margin-bottom: 0
    @media (min-width: $break-md)
      font-size: 2em
      padding-top: 0.2em
      padding-bottom: 0.2em
      margin-top: 0px
      margin-bottom: 0
  .navbar-toggle
    margin-bottom: 0
    margin-top: 15px
  &.navbar-scroll
    .navbar-brand
      margin-top: 11px
      margin-bottom: 11px
      @media (min-width: $break-sm)
        margin-top: 10px
        margin-bottom: 0
      @media (min-width: $break-md)
        margin-top: 15px
        margin-bottom: 0
    .navbar-toggle
      margin-bottom: 0
      margin-top: 15px

/* navbar */

.navbar-default
  .nav
    li
      a
        padding-top: 15px
        padding-bottom: 15px
        border-top: 0px solid transparent
      &.active
        a.page-scroll, a.page-scroll:hover, a.page-scroll:active
          border-top: 0px solid transparent
          border-left: 6px solid $navy
      @media (min-width: $break-sm)
        a
          padding-left: 5px
          padding-right: 5px
          padding-top: 15px
          border-top: 6px solid transparent
          &.register-button
            margin-top: 10px
            color: $white
            padding: 10px 20px
            border: 1px solid $navy
            background-color: $navy
            border-color: $navy
            font-size: 14px
            border-radius: 6px
            text-align: center
            white-space: nowrap
            vertical-align: middle
            cursor: pointer
            &:hover
              background-color: #18a689
              border-color: #18a689
              color: $white
        &.active
          a.page-scroll, a.page-scroll:hover, a.page-scroll:active
            border-top: 6px solid $navy
            border-left: 0px solid transparent
      @media (min-width: $break-md)
        a
          padding-left: 10px
          padding-right: 10px
          padding-top: 25px
          &.register-button
            margin-top: 20px
  &.navbar-scroll
    .nav
      li
        @media (min-width: $break-md)
          a
            padding-top: 20px
            padding-bottom: 20px
            &.register-button
              padding-top: 10px
              padding-bottom: 10px
              margin-top: 15px
  .navbar-collapse.in
    overflow-y: visible




/* features */
.features, .pricing
  h2
    font-size: 32px
    font-weight: 300
    @media (max-width: $break-sm)
      text-align: center
  small
    color: $navy

@media (min-width: $break-md)
  .features-block
    text-align: justify

@media (max-width: $break-sm)
  .features-block
    text-align: center
  section
    img
      margin: 0 auto 20px
  .pricing-plan.selected
    width: 90%
    max-width: 400px
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px
.about
  text-align: center

.pricing
  .gray-section
    margin-top: 10px
    padding-bottom: 60px
  .pricing-plan
    .pricing-price span
      font-size: 2em
    &.selected
      background: $white
  @media (max-width: $break-sm)
    .features-block
      margin-top: 0

/* apps */
.apps
  .icon
    font-size: 5em
    background-color: transparent
    color: $white
    border-radius: .3em
    display: inline-block
    width: 1.5em
    height: 1.5em
    line-height: 1.5em
    &.future
      width: 1em
      height: 1em
      line-height: 1em
      font-size: 6em
      &.slack
        @media (max-width: $break-sm)
          margin-top: 15px
  .fa-twitter
    background-color: $blueTwitter
    transform: scale(0.85)
  .fa-envelope
    background-color: $navy
    transform: scale(0.85)
  .icon-connect-hipchat
    background-color: $blueHipchat
    transform: scale(1.1)
  .icon-connect-webhook
    background-color: $greyWebhook
    transform: scale(0.85)
  .icon-connect-jira
    background-color: $blueJIRA
    transform: scale(0.85)
  .fa-rss
    background-color: #ffa500
    transform: scale(0.85)
  .icon-connect-salesforce
    background-color: #00a1e0
    transform: scale(1.1)
    color: $white
  .icon-connect-stripe
    color: #272626
  .icon-connect-confluence
    color: #003366
  .icon-connect-slack
    transform: scale(0.85)
    color: $white
    background-color: $greySlack
  h4
    color: #353535
  a
    text-decoration: none
  .text-width
    width: 18em
    margin: 0 auto
    @media (max-width: $break-lg)
      width: 13em
    @media (max-width: $break-md)
      width: 10em
    @media (max-width: $break-sm)
      width: auto
  @media (max-width: $break-sm)
    .icon-connect-hipchat, .icon-connect-salesforce
      margin-top: 0.2em
    .team-member
      margin-bottom: 1.5em
    .m-b-lg
      margin-bottom: 0

/* footer */
.about
  .terms
    text-align: right
    @media (max-width: $break-md)
      text-align: center
    a
      padding-right: 1.6em
      font-size: 1.08em
      color: #AEAEAE
      text-decoration: none
      @media (max-width: $break-md)
        padding-right: 1.3em
  .company
    float: left
    font-size: 1.08em
    text-align: left
    padding-right: 1.6em
    @media (max-width: $break-md)
      float: none
      text-align: center
  .copyright, .copyright:hover, .copyright:focus
    color: #aeaeae
    text-decoration: none

/* jquery cookie disclaimer */
.cdbar.dark
  background-color: #2f4050
  border-color: #2f4050
  color: $white

.cdbtn.cookie
  background-color: $navy
  &:hover
    background-color: #18a689
    border-color: #18a689
.cdbtn.privacy
  &:hover
    text-decoration: none


/* buttons */
.btn-primary
  &.secondary
    background-color: #2f4050
    border-color: #2f4050
