{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@css_web' '@sass_web' filter='?uglifycss' package='css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
        {% block header %}{% include "ConnectWebBundle::header.html.twig" %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% include "ConnectWebBundle::footer.html.twig" %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@js_web' filter='?uglifyjs2' package='js' output='js/compiled/web.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
