<footer id="about" class="white-section about">
    <div class="container">
        <div class="company m-t-md m-b-md">
            {{ base.copyright() }}
        </div>
        <div class="terms m-t-md m-b-md">
            <a href="{% trans %}terms.support.url{% endtrans %}">{% trans %}terms.support.text{% endtrans %}</a>
            <a href="{% trans %}terms.documentation.url{% endtrans %}" target="_blank">{% trans %}terms.documentation.text{% endtrans %}</a>
            <a href="{% trans %}terms.feedback.url{% endtrans %}" target="_blank">{% trans %}terms.feedback.text{% endtrans %}</a>
            <a href="{% trans %}terms.privacy.url{% endtrans %}" target="_blank">{% trans %}terms.privacy.text{% endtrans %}</a>
            <a href="{% trans %}terms.terms.url{% endtrans %}" target="_blank">{% trans %}terms.terms.text{% endtrans %}</a>
            <a href="{% trans %}terms.about.url{% endtrans %}" target="_blank">{% trans %}terms.about.text{% endtrans %}</a>
        </div>
    </div>
    <div class="cookie-block">
        <p class="cookieText">{% trans %}cookie.text{% endtrans %}</p>
        <p class="cookieButton">{% trans %}cookie.button{% endtrans %}</p>
        <p class="cookieLink">{% trans %}cookie.link{% endtrans %}</p>
    </div>
</footer>
