<div id="page-top" class="navbar-wrapper">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                    <div class="navbar-header page-scroll">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="/#page-top">
                                <i class="icon icon-connect icon-connect-connect"></i>
                                <span class="text">{% trans %}product.name{% endtrans %}</span>
                          </a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/#features">{% trans %}link.features{% endtrans %}</a></li>
                            <li><a class="page-scroll" href="/#apps">{% trans %}link.apps{% endtrans %}</a></li>
                            <li><a class="page-scroll" href="/#pricing">{% trans %}link.pricing{% endtrans %}</a></li>
                            <li><a href="/blog">{% trans %}link.blog{% endtrans %}</a></li>
                            <li><a href="{{ path('login') }}">{% trans %}button.login{% endtrans %}</a></li>
                            <li><a class="register-button" href="{{ path('ums_user_add') }}" role="button">{% trans %}button.register{% endtrans %}</a></li>
                        </ul>
                    </div>

              </div>
      </nav>
</div>
