{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% block content %}

    <div class="middle-box text-center loginscreen  wow fadeIn  animated">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}login.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}login.text{% endtrans %}</p>

            <form class="m-t" role="form" action="{{ path('login_check') }}"  method="post">
                <div class="form-group">
                        <input type="email" id="inputEmail" class="form-control" name="_username"
                              placeholder="{% trans %}login.placeholder.email{% endtrans %}"  value="{{ last_username }}" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" id="inputPassword" class="form-control" name="_password"
                                placeholder="{% trans %}login.placeholder.password{% endtrans %}" required>
                </div>

                <input type="hidden" name="_target_path" value="{{ redirect_url }}" />

                {% if error %}
                    <div class="alert alert-danger" role="alert"><strong>{{ error.messageKey|trans(error.messageData) }}</strong></div>
                {% endif %}

                {% if app.request.get('error') %}
                    <div class="alert alert-danger" role="alert"><strong>{% trans %}message.error.unauthorized{% endtrans %}</strong></div>
                {% endif %}

                <button type="submit" class="btn btn-primary block full-width m-b">{% trans %} button.login{% endtrans %}</button>
                <a href="{{ path('forgot_password') }}"><small>{% trans %}login.forgot_password{% endtrans %}</small></a>
                <p class="text-muted text-center"><small>{% trans %}login.account{% endtrans %}</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{{ path('ums_user_add') }}">{% trans %}button.register{% endtrans %}</a>
            </form>

            {{ elements.copyright("small m-t") }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@js_login' filter='?uglifyjs2' package='js' output='js/compiled/login.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}