<div>
    <div class="input-group" ng-show="query.config.manual">
        <input class="form-control query">
        <div class="input-group-btn">
            <button type="button" class="btn btn-white"
                ng-click="resetQuery()"
                title="{{ 'connection.item.button.query.reset' | translate }}"><span class="fa fa-eraser"></span></button>
            <button type="button" class="btn btn-white"
                ng-model="query.config.manual"
                btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                title="{{ 'connection.item.button.query.manual' | translate }}"><span class="fa fa-keyboard-o"></span></button>
        </div>
    </div>
    <div cninput config="query.config.group" group="data.group" class="query-group"
        ng-init="level = 1"  ng-hide="query.config.manual"></div>
</div>
