<div class="input-group">
    <div class="input-group-btn">
        <div cninput config="interval.config.period" model="interval.value.period" name="period"></div>
    </div>
    <input type="hidden" class="interval">
    <div cninput config="interval.config.number" model="interval.value.number" name="number" class="number" ng-disabled="interval.value.period===-1"></div>
</div>
