<div class="input-group">
    <div cninput config="hipchat.config.room" ng-show="hipchat.config.to === 'room_id'" class="room" name="hipchat_room"></div>
    <div cninput config="hipchat.config.user" ng-show="hipchat.config.to === 'user_id'" class="user" name="hipchat_user"></div>
    <span class="input-group-btn">
        <button type="button" class="btn btn-white"
        ng-model="hipchat.config.to" btn-radio="'room_id'" title="{{ 'connection.item.button.hipchat.room' | translate }}">
            <i class="fa fa-users"></i>
        </button>
        <button type="button" class="btn btn-white"
        ng-model="hipchat.config.to" btn-radio="'user_id'" title="{{ 'connection.item.button.hipchat.user' | translate }}">
            <i class="fa fa-user"></i>
        </button>
    </span>
</div>
