<div>
    <div class="input-group">
        <span class="input-group-btn">
            <div cnInput config="input.config.field.base"
            name="{{ 'fieldrule_' + key + '_base' }}"></div>
        </span>
        <div cnInput config="input.config.field.name" class="fieldrule-name" name="{{ 'fieldrule_' + key + '_name' }}"></div>
        <span class="input-group-btn">
            <button type="button"class="btn btn-white"
            ng-click="deleteFieldRule(key)" title="{{ 'button.delete' | translate }}"><i class="fa fa-trash"></i></button>
            <button type="button"class="btn btn-white"
            ng-click="addFieldRule()" title="{{ 'button.add_another' | translate }}"><i class="fa fa-plus"></i></button>
        </span>
    </div>
    <div cnInput config="input.config.field.pattern" name="{{ 'fieldrule_' + key + '_pattern' }}" class="fieldrule"></div>
</div>
