<div class="m-b-sm">
    <div class="input-group">
        <div cninput
            config="querygroup.config.logic"
            class="form-control"
            model="group.logic"
            name="{{ 'level_' + level + '_group_' + key }}"></div>
        <div class="input-group-btn">
            <button type="button" class="btn btn-white" title="{{ 'connection.item.button.query.rule.add' | translate }}"
                ng-click="addRule()"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-white" title="{{ 'connection.item.button.query.group.add' | translate }}"
                ng-disabled="group.rules.length < 1"
                ng-click="addGroup(level)">
                    <i class="fa fa-indent"></i>
            </button>
            <button type="button"  class="btn btn-white" title="{{ 'button.delete' | translate }}"
                ng-click="removeGroup()" ng-if="level > 1"><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-white"
                ng-model="query.config.manual"
                btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                title="{{ 'connection.item.button.query.manual' | translate }}"
                ng-if="level == 1"><span class="fa fa-keyboard-o"></span></button>
        </div>
    </div>
    <ul class="group-rules" dnd-list="list">
        <li ng-repeat="(key, rule) in group.rules" class="group-rule m-t-sm"
            dnd-draggable="item">
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true" ng-init="level = level + 1">
                    <div cninput config="query.config.group" group="rule.group"></div>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <div class="input-group">
                        <div class="input-group-btn rule-part field">
                            <div cninput class="form-control"
                                config="querygroup.config.field"
                                model="rule.field"
                                name="{{ 'level_' + level + '_rule_' + key + '_field' }}"></div>
                        </div>
                        <div class="input-group-btn rule-part operator">
                            <div cninput class="form-control"
                                config="querygroup.config.operator"
                                model="rule.operator"
                                name="{{ 'level_' + level + '_rule_' + key + '_operator' }}"></div>
                        </div>
                        <div cninput class="form-control rule-part"
                            config="querygroup.config.data"
                            model="rule.data"
                            name="{{ 'level_' + level + '_rule_' + key + '_data' }}"></div>
                        <div cninput class="form-control rule-part"
                            config="querygroup.config.dataSelect"
                            model="rule.data"
                            name="{{ 'level_' + level + '_rule_' + key + '_data_select' }}"></div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white" title="{{ 'button.delete' | translate }}"
                                ng-click="removeRule($index)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
