<div class="input-group">
    <div cninput config="slack.config.channel" ng-show="slack.config.to === 'channel_id'" class="channel" name="slack_channel"></div>
    <div cninput config="slack.config.user" ng-show="slack.config.to === 'user_id'" class="user" name="slack_user"></div>
    <span class="input-group-btn">
        <button type="button" class="btn btn-white"
        ng-model="slack.config.to" btn-radio="'channel_id'" title="{{ 'connection.item.button.slack.channel' | translate }}">
            <i class="fa fa-users"></i>
        </button>
        <button type="button" class="btn btn-white"
        ng-model="slack.config.to" btn-radio="'user_id'" title="{{ 'connection.item.button.slack.user' | translate }}">
            <i class="fa fa-user"></i>
        </button>
    </span>
</div>
