<div>
    <div ng-show="editor.mode==='text'" class="note-font btn-group">
        <button ng-click="addMentio()" type="button" class="btn btn-default btn" title="" data-shortcut="Ctrl+B" data-mac-shortcut="⌘+B" data-event="bold" tabindex="-1" data-original-title="Bold (Ctrl+B)"><i class="fa fa-plus icon-bold"></i></button>

    </div>
    <div text-angular class="editor"
         ta-toolbar="{{ editor.toolbar }}"
         ta-toolbar-button-class="btn btn-white"
         ta-text-editor-setup="setup"
         ng-model="editor.text"
         ng-show="editor.mode==='html'"
         name="{{ editor.name }}"
         placeholder="{{ editor.placeholder }}"></div>

    <mentio-menu mentio-for="getTextAngularId()"
         mentio-trigger-char="'%'"
         mentio-items="ref"
         mentio-template-url="ref-search"
         mentio-search="searchRef(term)"
         mentio-select="getRefText(item)"></mentio-menu>

      <textarea class="form-control" id="textAreaMentio" mentio-id="getTextAngularId()"
       ng-show="editor.mode==='text'"
         name="{{ editor.name }}"></textarea>
</div>
