<div>
    <div class="input-group">
        <span class="input-group-btn">
            <div cnInput config="input.config.field.transformation"
                    name="{{ 'attachment_' + key + '_transformation' }}"></div>
        </span>
        <div cnInput config="input.config.field.parameters.name"
                name="{{ 'attachment_' + key + '_name' }}"></div>
        <span class="input-group-btn">
            <button type="button" class="btn btn-white"
                ng-click="deleteAttachment(key)" title="{{ 'button.delete' | translate }}">
                <i class="fa fa-trash"></i>
            </button>
            <button type="button" class="btn btn-white"
                ng-click="addAttachment()" title="{{ 'button.add_another' | translate }}">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
    <div cnInput config="input.config.field.parameters.template" mentio-id="attachment"
            name="{{ 'attachment_' + key + '_template' }}" class="attachment"></div>
</div>
