<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="dismiss()" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" translate>admin.billing.modal.button.name</span></button>
        <i class="fa fa-exclamation-circle"></i>
        <h2 class="modal-title" translate><b>admin.billing.modal.endtrial.title</b></h2>
        <p class="font-bold" ng-bind-html="'admin.billing.modal.endtrial.subtitle' | translate: { trialdays: trialdays }"></p>
    </div>
    <div class="modal-body">
            <span ng-bind-html="'admin.billing.modal.endtrial.description' | translate: { trialdays: trialdays }"></span>
    </div>
    <div class="modal-footer">
        <button ng-show="role ==='admin'" ng-click="dismiss(true)" type="button" class="btn btn-primary" translate>admin.billing.button.name</button>
        <button ng-click="dismiss()" type="button" class="btn btn-primary" translate>admin.billing.modal.button.name</button>
    </div>
</div>