<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="dismiss()" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only" translate>admin.billing.modal.button.name</span></button>
        <i class="fa fa-exclamation-circle"></i>
        <h2 class="modal-title" translate><b>admin.billing.modal.blocked.title</b></h2>
        <small class="font-bold" ng-bind-html="'admin.billing.modal.blocked.subtitle' | translate "> </small>
    </div>
    <div class="modal-body">
        <span ng-bind-html="'admin.billing.modal.blocked.description' | translate"></span>
    </div>
    <div class="modal-footer">
        <button ng-show="role ==='admin'" ng-click="dismiss(true)" type="button" class="btn btn-primary" translate>admin.billing.button.name</button>
        <button ng-click="dismiss()" type="button" class="btn btn-primary" translate>admin.billing.modal.button.name</button>
    </div>
</div>