<div class="col-lg-12">
    <div class="ibox float-e-margins animated fadeIn">
        <div class="ibox-title">
            <h5 translate>admin.billing.card.title</h5>
        </div>
        <div class="ibox-content">

            <form name="formCard" class="form-horizontal" novalidate>

                <div cnInputControl label="number">
                    <div class="input-group">
                        <div cninput config="form.config.field.number" model="number"></div>
                        <div class="input-group-btn">
                            <span class="btn btn-box" title="{{ 'admin.billing.card.type.' + (form.config.typeCurrent || form.config.type) | translate }}">
                                <i class="fa fa-lg" ng-class="icon[form.config.type] || 'fa-credit-card-alt'"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div cnInputControl label="expiry">
                    <div cninput config="form.config.field.expiry" model="expiry"></div>
                </div>

                <div cnInputControl label="name" ng-show="view.mode == 'add' || view.action.edit">
                    <div cninput config="form.config.field.name" model="name"></div>
                </div>

                <div cnInputControl label="cvc" ng-show="view.mode == 'add' || view.action.edit">
                    <div cninput config="form.config.field.cvc" model="cvc"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <span  ng-repeat="btn in form.button.card">
                            <cn:button config="btn">{{ "button." + btn.label }}</cn:button>
                        </span>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
