<div class="col-lg-12">
    <div class="ibox float-e-margins animated fadeIn">
        <div class="ibox-title">
            <h5 translate>admin.billing.client.title</h5>
        </div>
        <div class="ibox-content">
            <form name="billingForm" class="m-t form-horizontal" novalidate>

                <div cnInputControl label="billing_name">
                    <div cnInput config="form.config.field.billing_name" name="billing_name"></div>
                </div>
                <div cnInputControl label="billing_country">
                    <div cnInput config="form.config.field.country" ng- name="billing_country"></div>
                </div>

                <div cnInputControl label="billing_street">
                    <div cnInput config="form.config.field.street" name="billing_street"></div>
                </div>
               <div cnInputControl label="billing_city">
                    <div cnInput config="form.config.field.city"  name="billing_city"></div>
                </div>
                <div cnInputControl label="billing_state">
                    <div cnInput config="form.config.field.state" name="billing_state"></div>
                </div>

                <div cnInputControl label="billing_vatNumber">
                    <div cnInput config="form.config.field.vat" name="billing_vatNumber"></div>
                </div>

                <div cnInputControl label="billing_note">
                    <div cnInput config="form.config.field.note"  name="billing_note"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <cn:button class="btn btn-primary" type="submit" action="saveBilling">button.save</cn:button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
