<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-8">
        <h2 translate>admin.billing.page.title</h2>
        <p translate>admin.billing.page.intro</p>
    </div>
    <div class="col-md-4">
        <div ng-show="buttonTryPay" class="col-md-12 head-action trypay">
            <cn-button class="btn btn-primary" type="submit" action="tryPay" 
            remove="vendorBlocked" help="admin.billing.button.popup"><p translate>admin.billing.button.name</p></cn-button>
            <button type="button" data-placement="bottom" class="input-help btn btn-white help"><i class="icon-help fa fa-question"></i></button>
        </div>
    </div>
</div>

<div class="row page-nav">
    <div class="col-md-12">
        <a class="item btn btn-white" ng-repeat="state in nav" ng-disabled="{{ state.disabled }}"
            ui-sref="{{ state.sref }}" ui-sref-active="btn-primary">
            <i class="{{ state.ico }}" ng-if="state.ico"></i>
            {{ state.name | translate }}
        </a>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div ui-view></div>
    </div>
</div>
