<div class="col-lg-12">
    <div class="ibox float-e-margins animated fadeIn">
        <div class="ibox-title">
            <h5 translate>admin.billing.invoice.title</h5>
        </div>
        <div class="ibox-content">
           <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                class="nowrap table table-striped table-hover data admin" width="100%">
                <thead>
                    <tr>
                        <th class="min-tablet-p all start-date" translate>admin.billing.invoice.list.table.head.start</th>
                        <th class="min-tablet-p all end-date" translate>admin.billing.invoice.list.table.head.end</th>
                        <th class="connections" translate>admin.billing.invoice.list.table.head.max_connections</th>
                        <th class="messages" translate>admin.billing.invoice.list.table.head.messages</th>
                        <th class="min-tablet-p " translate>admin.billing.invoice.list.table.head.price</th>
                        <th class="min-tablet-p charge" translate>admin.billing.invoice.list.table.head.charge_date</th>
                        <th class="min-tablet-p all status" translate>admin.billing.invoice.list.table.head.payment_status</th>
                        <th class="text-right min-tablet-p action no-sort" translate>admin.billing.invoice.list.table.head.action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="history in invoice" ng-class="history.status">
                        <td>{{history.start_date}}</td>
                        <td>{{history.end_date}}</td>
                        <td>{{history.connections || 0}}</td>
                        <td>{{history.messages || 0}}</td>
                        <td>{{history.status!='trial' ? (history.price || 0 | centToDollar) : ('admin.billing.invoice.price.trial'|translate)}}</td>
                        <td><span ng-class="{'charge-date':history.status!='paid'}">{{history.charge_date | timeZone }}</td>
                        <td><change-Status class="invoice-status" status="{{history.status}}"></change-Status></td>
                        <td>
                            <a href="/billing/invoice/{{history.invoice}}" class="btn btn-white" target="_blank" ng-if="history._links && history.status==='paid'" title="{{ 'admin.billing.invoice.button.invoice' | translate }}">
                                <i class="fa fa-download text-muted"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
