<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">
            <div class="ibox-title">
                <h5 translate>admin.user.list.title</h5>
            </div>
            <div class="ibox-content">
               <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
                    class="nowrap table table-striped table-hover data admin" width="100%">
                    <thead>
                        <tr>
                            <th class="id never" translate>admin.user.list.table.head.id</th>
                            <th class="name all" translate>admin.user.list.table.head.name</th>
                            <th class="min-tablet-p" translate>admin.user.list.table.head.contact</th>
                            <th class="min-tablet-l" translate>admin.user.list.table.head.verified</th>
                            <th class="min-tablet-p" translate>admin.user.list.table.head.role</th>
                            <th class="action text-right no-sort all" translate>admin.user.list.table.head.actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.contact}}</td>
                            <td>{{user.verified ? 'admin.user.list.table.verified.true' : 'admin.user.list.table.verified.false' | translate}}</td>
                            <td>{{ (user.role=="admin") ? 'admin.user.list.table.role.admin' : 'admin.user.list.table.role.user' | translate}}</td>
                            <td class="text-right">
                                <a ui-sref="admin.user.item.edit({user: user.id})" class="btn btn-white" title="{{ 'button.edit' | translate }}" ng-disabled="user.contact === CN.user.email.address">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
