<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-9">
        <h2 translate>admin.user.page.title</h2>
        <p translate>admin.user.page.intro</p>
    </div>
    <div class="col-md-3 head-action">
        <a ui-sref="admin.user.item.add" class="btn btn-primary"><i class="fa fa-plus"></i> <span translate>admin.user.nav.add</span></a>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div ui-view></div>
</div>
