<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">
            <div class="ibox-title">
                <h5>{{ 'admin.user.item.title.' + view.mode | translate }}</h5>
            </div>
            <div class="ibox-content">
                <form name="formAdmin" class="form-horizontal" ng-submit="submit()">

                    <div cnInputControl label="name">
                        <div cninput config="form.config.field.name" model="name" name="name"></div>
                    </div>

                    <div cnInputControl label="email">
                        <div cninput config="form.config.field.email" model="contact" name="email"></div>
                    </div>

                    <div cnInputControl label="verified" ng-show="view.mode === 'edit'">
                        <div cninput config="form.config.field.verified" model="verified" name="verified" disabled></div>
                    </div>

                    <div cnInputControl label="role">
                        <div cninput config="form.config.field.role" model="role" name="role"></div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">

                            <div class="alert alert-warning" ng-show="form.error.admin" ng-bind="form.error.admin"></div>

                            <span  ng-repeat="btn in form.button">
                                <cn:button config="btn">{{ 'button.' + btn.label }}</cn:button>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
