{% extends "::base.html.twig" %}
{% import '::elements.html.twig' as elements %}

{% set attribute = {
      html: {"ng-app": "cn"},
      title: {"page-title": ""},
      body: {"ng-controller": "AppCtrl as main", "class": "body-small translate-cloak", "translate-cloak": "" }
} %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@sass_app' '@css_app' filter='?uglifycss' package='css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@js_angular' '@js_inspinia' '@js_app' filter='?uglifyjs2' package='js' output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        {% include "ConnectAppBundle::config.js.twig" %}
    </script>
{% endblock %}
