<div class="footer">
    <div class="company">
        {{ elements.copyright() }}
    </div>
    <div class="terms">
        	<a href="{% trans %}terms.support.url{% endtrans %}">{% trans %}terms.support.text{% endtrans %}</a>
            <a href="{% trans %}terms.documentation.url{% endtrans %}" target="_blank">{% trans %}terms.documentation.text{% endtrans %}</a>
            <a href="{% trans %}terms.feedback.url{% endtrans %}" target="_blank">{% trans %}terms.feedback.text{% endtrans %}</a>
            <a href="{% trans %}terms.privacy.url{% endtrans %}" target="_blank">{% trans %}terms.privacy.text{% endtrans %}</a>
            <a href="{% trans %}terms.terms.url{% endtrans %}" target="_blank">{% trans %}terms.terms.text{% endtrans %}</a>
            <a href="{% trans %}terms.about.url{% endtrans %}" target="_blank">{% trans %}terms.about.text{% endtrans %}</a>
    </div>
</div>
