<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <span minimaliza-sidebar title="{% verbatim %}{{'nav.title' | translate}}{% endverbatim %}"></span>
        </div>
        <ul class="navbar-top-links-cn">
            <li>
                <a ui-sref="connection.item.add.source" class="btn btn-primary hidden-sm hidden-md hidden-lg"
                    title="{% verbatim %}{{'nav.connection.item' | translate}}{% endverbatim %}">
                    <i class="fa fa-plus"></i>
                </a>
            </li>
            {% if feedback_enabled %}
                <li ng-controller="FeedbackCtrl">
                    <a ng-click="show()" class="btn btn-white" ng-mouseover="preload()"
                        title="{% verbatim %}{{'nav.feedback' | translate}}{% endverbatim %}">
                      <i class="fa fa-comments-o"></i>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('logout') }}" class="btn btn-white"
                    title="{% verbatim %}{{'user.logout' | translate}}{% endverbatim %}">
                    <i class="fa fa-power-off"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
