<script type="text/ng-template" id="error.html">

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="middle-box text-center animated fadeIn">
                    <h1 translate>error.title</h1>
                    <h2 class="font-bold">{% verbatim %}{{ "error." + error + ".title" | translate }}{% endverbatim %}</h2>
                    <div class="error-desc">{% verbatim %}{{ "error." + error + ".text" | translate }}{% endverbatim %}</div>
                    <a ui-sref="connection.list" class="btn btn-primary m-t" translate>nav.connection.list</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="notify.html">

    <div class="cg-notify-message inspinia-notify" ng-class="$classes">
        <div class="p-lg">
            <div ng-show="!$messageTemplate" class="clearfix">
                <i class="icon success-icon error-icon"></i><span class="notify-message">{% verbatim %}{{$message}}{% endverbatim %}</span>
            </div>

            <div ng-show="$messageTemplate" class="cg-notify-message-template">

            </div>

            <button type="button" class="cg-notify-close" ng-click="$close()">
                <span aria-hidden="true">&times;</span>
                <span class="cg-notify-sr-only">Close</span>
            </button>
        </div>

    </div>
</script>
