{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% block content %}

    <div class="middle-box text-center loginscreen  animated fadeIn">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}confirm.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}confirm.password{% endtrans %}</p>

            <a class="btn btn-sm btn-primary btn-block" href="{{ path('login') }}">{% trans %}button.back{% endtrans %}</a>

            {{ elements.copyright("small m-t") }}
        </div>
    </div>

{% endblock %}
