{% extends '::Email/base.html.twig' %}

{% block content %}
<div style=" line-height: 1.6;">
<h3 style=" line-height: 1.3; font-weight: 400; font-size:1.2em">
	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #000;margin: 40px 0 0;font-size: 1.2em">You don’t have any active connections in Connect! <br/>Why not create them today?
	</span>
</h3> 
<span style="padding-top:1em;line-height: 1.3;font-weight: 500;"><b>Hello {{ '{{ user_name }}' }},</b></span>
<p style="padding:0 0 0px">
We have noticed that you signed up for <a href="https://connect.x-formation.com/">Connect</a>, but don't have any active connections.
</p>
<ul style="margin-top: -10px">
	<li>Are any <a href="https://docs.x-formation.com/display/CN/Integrations">integrations</a> you would like to see in Connect missing?</li>
	<li>Do you have any difficulties using Connect’s user interface?</li>
	<li>Don’t you know how to automate in your workflow?</li>
</ul>
<p style="padding:0 0 10px">
Please let us know how we can make Connect better for you in the future to help us determine our course of action. 
</p>
<p style="text-align: center; padding: 0 0 10px"><a href="https://feedback.x-formation.com/lists/1-general/?category=7" style="background-color: #1AB394; text-decoration:none; color:white; text-align: center; padding: 12px 30px; border-radius: 7px; font-size: 16px; font-weight: bold;" target="_blank">GIVE FEEDBACK</a></p>
</p> 
<p style="padding:0 0 0px">
If we can be of any further assistance, be sure to contact our <a href="mailto:support@x-formation.com?subject=Connect">support team</a> and we’ll be happy to help you out.
</p> 
<p style="padding:0 0 20px">
If you just haven’t had time to give Connect a try, we encourage you to take a look again, and let us know what you think.
</p>
<p style=" margin:0px;">Many thanks,</p>
<p style=" font-weight: bold; margin:0px;">X-Formation</p>
</div>

{% endblock %}
