{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}

    <div class="container">
      <div class="middle-box text-center loginscreen animated fadeIn">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}account_activate.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}account_activate.text{% endtrans %}</p>

            {{ form_start(form) }}

                <div class="form-group">
                    {{ form_widget(form.contact,
                    {
                        'attr':
                        {
                            'placeholder': 'account_activate.placeholder.email'
                        }
                    }
                    ) }}
                    {{ form_errors(form.contact) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.password_first,
                    {
                        'attr':
                        {
                            'placeholder': 'account_activate.placeholder.password',
                            'minlength': '6',
                            'maxlength': '255'
                        }
                    }
                    ) }}
                    {{ form_errors(form.password_first) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.password_second,
                    {
                        'attr':
                        {
                            'placeholder': 'account_activate.placeholder.password_confirm',
                            'minlength': '6',
                            'maxlength': '255'
                        }
                    }
                    ) }}
                    {{ form_errors(form.password_second) }}
                </div>

          {{ form_end(form) }}

          <p class="m-t"> <small>&copy; {{ "now"|date("Y") }} {% trans %}company.name{% endtrans %}</small> </p>
        </div>
      </div>
    </div>
{% endblock %}
