{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}

    <div class="container">
      <div class="middle-box text-center loginscreen wow fadeIn  animated">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}register.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}register.text{% endtrans %}</p>

            {{ form_start(form) }}
              {% if error %}
                  <div class="alert alert-danger" role="alert"><strong>{{ error }}</strong></div>
              {% endif %}

              <div class="form-group">
                  {{ form_widget(form.name,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.name',
                                  'autofocus': 'true'
                              }
                          }
                  ) }}
                  {{ form_errors(form.name) }}
              </div>

              <div class="form-group">
                  {{ form_widget(form.vendor,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.company'
                              }
                          }
                  ) }}
                  {{ form_errors(form.vendor) }}
              </div>

              <div class="form-group">
                  {{ form_widget(form.contact,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.email'
                              }
                        }
                  ) }}
                  {{ form_errors(form.contact) }}
              </div>

              <div class="form-group">
                  {{ form_widget(form.password_first,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.password',
                                  'minlength': '6',
                                  'maxlength': '255'
                              }
                          }
                  ) }}
                  {{ form_errors(form.password_first) }}
              </div>

              <div class="form-group">
                  {{ form_widget(form.password_second,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.password_confirm',
                                  'minlength': '6',
                                  'maxlength': '255'
                              }
                          }
                  ) }}
                  {{ form_errors(form.password_second) }}
              </div>

              <p class="marketing text-muted text-center m-b">
                <small>
                  {{ form_widget(form.newsletter_agreement,
                      {
                          'attr': {
                              'checked': 'checked'
                          },
                          'required': false
                      }
                  ) }}
                  {{ form_label(form.newsletter_agreement, 'register.newsletter.label')}}
                  </small>
              </p>

              <p class="text-muted text-center m-b">
                <small>
                  {% trans %}register.terms.title{% endtrans %}
                  <a href="https://www.x-formation.com/company/privacy-statement" target="_blank">{% trans %}register.terms.privacy_statement{% endtrans %}</a>
                  {% trans %}common.and{% endtrans %}
                  <a href="https://www.x-formation.com/company/terms-of-service" target="_blank">{% trans %}register.terms.terms_of_service{% endtrans %}</a>
                  </small>
                </p>

              {{ form_widget(form.submit, {'label': 'button.register'}) }}

              <p class="text-muted text-center"><small>{% trans %}register.account{% endtrans %}</small></p>

              <a class="btn btn-sm btn-white btn-block" href="{{ path('login') }}">{% trans %}button.login{% endtrans %}</a>

          {{ form_end(form) }}

          {{ elements.copyright("small m-t") }}
        </div>
      </div>
    </div>
{% endblock %}

