{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% form_theme form ':Form:fields.html.twig' %}

{% block content %}

    <div class="container">
      <div class="middle-box text-center loginscreen animated fadeIn">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}forgot_password.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}forgot_password.text{% endtrans %}</p>


            {{ form_start(form) }}

              <div class="form-group">
                  {{ form_widget(form.email,
                      {
                          'attr':
                              {
                                  'placeholder': 'register.placeholder.email'
                              }
                          }
                  ) }}
                  {{ form_errors(form.email) }}
              </div>
          {{ form_end(form) }}
          <p class="text-muted text-center"><small>{% trans %}login.account{% endtrans %}</small></p>
          <a class="btn btn-sm btn-white btn-block" href="{{ path('ums_user_add') }}">{% trans %}button.register{% endtrans %}</a>

          {{ elements.copyright("small m-t") }}
        </div>
      </div>
    </div>
{% endblock %}
