<div class="row profile">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 translate>settings.profile.subtitle</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel blank-panel ui-tab">
                            <div class="panel-body">
                                <tabset>
                                    <tab heading="{{'settings.profile.tab_1' | translate}}">

                                        <form name="Profile" class="m-t form-horizontal" ng-controller="cnSettingsProfileAccount" novalidate>

                                            <div cnInputControl label="name">
                                                <div cnInput config="form.config.field.name" name="name"></div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <cn:button class="btn btn-primary" type="submit" action="saveProfile">button.save</cn:button>
                                                </div>
                                            </div>

                                        </form>
                                    </tab>

                                    <tab heading="{{'settings.profile.tab_2' | translate}}">

                                        <form name="Email" class="m-t form-horizontal" ng-controller="cnSettingsProfileEmail" novalidate>

                                            <div cnInputControl label="email">
                                                <div class="input-group">
                                                    <div cnInput config="form.config.field.email" name="email"></div>
                                                    <span class="input-group-btn">
                                                        <cn:button class="btn btn-warning" type="button"
                                                                   action="verifyEmail"
                                                                   ng-show="!form.config.verified || Email.email.$dirty"
                                                                   ng-disabled="!form.config.verify || Email.email.$dirty"
                                                                   title="{{ 'settings.profile.button.email.verify' | translate }}"
                                                                   config="{terminate:true}">button.verify</cn:button>
                                                        <span class="btn btn-box"
                                                              ng-show="form.config.verified && Email.email.$pristine"
                                                              title="{{ 'settings.profile.button.email.verified' | translate }}">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div cnInputControl label="password_current_to_confirm">
                                                <div cnInput config="form.config.field.password" name="password_current_to_confirm"></div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <cn:button class="btn btn-primary" type="submit" action="saveEmail">button.save</cn:button>
                                                </div>
                                            </div>

                                        </form>
                                    </tab>

                                    <tab heading="{{'settings.profile.tab_3' | translate}}">

                                        <form name="Password" class="m-t form-horizontal" ng-controller="cnSettingsProfilePassword" novalidate>

                                            <div cnInputControl label="password_current">
                                                <div cnInput config="form.config.field.current" name="password_current"></div>
                                            </div>

                                            <div cnInputControl label="password_new">
                                                <div cnInput config="form.config.field.new" name="password_new"></div>
                                            </div>

                                            <div cnInputControl label="password_confirm">
                                                <div cnInput config="form.config.field.confirm" name="password_confirm"></div>
                                            </div>

                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                    <cn:button class="btn btn-primary" type="submit" action="savePassword">button.save</cn:button>
                                                </div>
                                            </div>

                                        </form>
                                    </tab>
                                </tabset>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 avatar">
                        <div>
                            <img alt="{{'profile.label.gravatar_alt' | translate}}" class="img-circle" gravatar-src="'{{ CN.user.email.address }}'" gravatar-size="250" gravatar-default="mm">
                        </div>
                        <div class="block m-t-xs clear">
                            <strong class="font-bold" translate>settings.profile.label.avatar_text</strong><strong><a href="http://en.gravatar.com/" target="_blank" translate>settings.profile.label.gravatar</a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
