<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2 translate>settings.profile.title</h2>
        <p translate>settings.profile.intro</p>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div ui-view autoscroll="false"></div>
</div>
