<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>email</title>
</head>

<body>
    <table style="background-color: #f6f6f6; width: 100%; font-size:1.0em;  font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
    <tr>
        <td style="display: block; max-width: 600px; margin: 0 auto; clear: both; padding: 20px;" width="600">
                <table style="background: #fff; border: 1px solid #e9e9e9; border-radius: 3px;" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding: 16px;">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-family: Open Sans,helvetica,arial,sans-serif; font-weight: 700; color: #fff; font-size: 2.8em; text-align:center;">
                                        <a href="https://connect.x-formation.com" style="color: #fff; text-decoration: none;"><div style="background-color: #1AB394; height: 3.5em; width: auto; line-height: 3.5em; "><img src="{{ scheme_and_host|default('{{ scheme_and_host }}') ~ asset('/img/email/connect_logo.png')}}" height="35px" style="display: inline-block; margin-right: 0.35em;"/><p style="margin: 0em; display: inline-block;">{% trans %}product.name{% endtrans %}</p></div></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #000;">
                                        <p style="margin-top: 30px;">{% block content %}{% endblock %}</p>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
                <table>
                        <tr>
                                    <td width="100%" style=" color: #7b7b7b;">
                                        <p style="font-size: 0.95em;">{% trans %}email.text{% endtrans %}<a href="mailto:support@x-formation.com?subject={% trans %}email.subject{% endtrans %}">{% trans %}email.support{% endtrans %}</a></p>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                </table>
                <table style="width:100%; color: #999;">
                    <tr>
                        <td> <a href="https://www.x-formation.com" target="_blank"> <img src="{{ scheme_and_host|default('{{ scheme_and_host }}') ~ asset('/img/email/xf_logo.png') }}" alt="{% trans %}company.name{% endtrans %}"></a></td>
                        <td width="50%" style="text-align: right; font-size: 12px;"><p><strong>&copy; {{ "now"|date("Y") }} {% trans %}company.name{% endtrans %}</strong><p></td>
                    </tr>
                </table>
        </td>
    </tr>
    </table>
</body>
</html>
