.fancybox-custom .fancybox-skin {
          box-shadow: 0 0 50px #222;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(/fancybox/fancybox_sprite.png);
}
#fancybox-loading div {
	background: url(/img/fancybox/fancybox_loading.gif) center center no-repeat;
}
.fancybox-nav {
	background: transparent url(/img/fancybox/blank.gif);
}
.fancybox-overlay {
	background: url(/img/fancybox/fancybox_overlay.png);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(/img/fancybox/fancybox_sprite@2x.png);
		background-size: 44px 152px;
}

#fancybox-loading div {
		background-image: url(/img/fancybox/fancybox_loading@2x.gif);
}