@font-face {
      font-family: 'icon-connect';
      src:url('../fonts/connect/icon-connect.eot?-aabacz');
      src:url('../fonts/connect/icon-connect.eot?#iefix-aabacz') format('embedded-opentype'),
        url('../fonts/connect/icon-connect.woff?-aabacz') format('woff'),
        url('../fonts/connect/icon-connect.ttf?-aabacz') format('truetype'),
        url('../fonts/connect/icon-connect.svg?-aabacz#icon-connect') format('svg');
      font-weight: normal;
      font-style: normal;
}

.icon-connect {
  font-family: 'icon-connect';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connect-connect:before {
  content: "\e608";
}

.icon-connect-confluence:before {
  content: "\e604";
}

.icon-connect-jira:before {
  content: "\e605";
}

.icon-connect-mailchimp:before {
  content: "\e606";
}

.icon-connect-stripe:before {
  content: "\e607";
}

.icon-connect-google-mail:before {
  content: "\e600";
}

.icon-connect-google-drive:before {
  content: "\e601";
}

.icon-connect-hipchat:before {
  content: "\e602";
}

.icon-connect-salesforce:before {
  content: "\e603";
}

.icon-connect-webhook:before {
  content: "\e609";
}

.icon-connect-slack:before {
  content: "\e900";
}
