{% macro feature(name, textAlign) %}

    {% set prefix = 'feature.section.' %}

    <div class="row features-block">
        <div class="col-lg-6 col-md-6 col-sm-6 wow animated {%
            if textAlign == 'left'
                %}col-lg-push-6 col-md-push-6 col-sm-push-6 fadeIn text-md-right{%
            elseif textAlign == 'right'
                %}fadeIn{%
            endif %}">
            <a class="fancybox-effects-d" href="img/{{(name~'_big.png')}}" title=""><img src="img/{{(name~'.png')}}" width="457" height="289" alt="dashboard" class="img-responsive"/></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 wow animated {%
            if textAlign == 'left'
                %}col-lg-pull-6 col-md-pull-6 col-sm-pull-6{%
            elseif textAlign == 'right'
                %}{%
            endif %}">
            <h2>{{(prefix~name~'.title')|trans}}</h2>
            <small>{{(prefix~name~'.subtitle')|trans}}</small>
            <p>{{(prefix~name~'.text')|trans|raw}}</p>
            <a href="{{(prefix~name~'.link')|trans}}" class="btn btn-primary" target="_blank">{% trans %}button.learn_more{% endtrans %}</a>
        </div>
</div>
{% endmacro %}

{% macro app(name, icon) %}

    {% set prefix = 'applications.' %}

    <div class="team-member">
        <a href="{{ path('app') }}#/account/item/add/{{name}}">
            <i class="icon {{icon}}"></i>
            <h4>{{(prefix~name~'.title')|trans}}</h4>
        </a>
        <p class="text-width">{{(prefix~name~'.text')|trans}}</p>
    </div>
{% endmacro %}
