{% extends "ConnectWebBundle::base.html.twig" %}
{% import 'ConnectWebBundle:Home:elements.html.twig' as elements %}
{% import '::elements.html.twig' as base %}

{% set attribute = {
    body: {id: "home" }
} %}

{% set features = ['real_time', 'content_filtering', 'extract', 'multiple_destinations', 'cloud'] %}

{% block content %}

  <div class="main">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="main-text text-center">
            <h1>{% trans %}top_page.title{% endtrans %}</h1>
            <h2>{% trans %}top_page.text{% endtrans %}</h2>
            <form class="email-box" action="{{ path('ums_user_add') }}" method="get">
              <input type="email" name="email" placeholder="{% trans %}top_page.placeholder{% endtrans %}" required >
              <button type="submit" class="btn btn-primary btn-lg">{% trans %}top_page.button{% endtrans %}</button>
            </form>
        </div>
      </div>
    </div>
  </div>

<section id="features" class="container features">
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <div class="navy-line"></div>
            <h1>{% trans %}feature.title{% endtrans %}</h1>
            <p>{% trans %}feature.text{% endtrans %}</p>
        </div>
    </div>

    {% for name in features -%}
        {% set textAlign = loop.index is odd ? 'left' : 'right' %}
        {{ elements.feature(name, textAlign) }}
    {%- endfor %}

</section>

<section id="apps" class="apps">
    <div class="gray-section">
        <div class="container">
            <div class="row m-b-xl">
                <div class="col-md-12 text-center">
                    <div class="navy-line m-b-30"></div>
                    <h1>{% trans %}applications.title{% endtrans %}</h1>
                    <p>{% trans %}applications.text{% endtrans %}</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("twitter", "fa fa-twitter") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("salesforce", "icon-connect icon-connect-salesforce") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("hipchat", "icon-connect icon-connect-hipchat") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("jira", "icon-connect icon-connect-jira") }}
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("webhook", "icon-connect icon-connect-webhook") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("imap", "fa fa-envelope") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("rss", "fa fa-rss") }}
                </div>
                <div class="col-sm-3 wow fadeIn animated">
                    {{ elements.app("slack", "icon-connect icon-connect-slack") }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row m-b-xl">
            <div class="col-md-12 text-center">
                <div class="navy-line"></div>
                <h1>{% trans %}future-applications.title{% endtrans %}</h1>
                <p>{% trans %}future-applications.text{% endtrans %}</p>
            </div>
        </div>
        <div class="row future">
                <div class="col-sm-3 text-center wow fadeIn animated">
                    <div>
                        <img src="{{ asset('img/app-icons/mailchimp.png') }}" width="84" height="84" class="icon future mailchimp" alt="mailchimp">
                        <h4>{% trans %}future-applications.mail_chimp.title{% endtrans %}</h4>
                        <p class="text-width">{% trans %}future-applications.mail_chimp.text{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-sm-3 text-center wow fadeIn animated">
                    <img src="{{ asset('img/app-icons/gmail.svg') }}" width="84" height="84" class="icon future gmail" alt="gmail">
                    <h4>{% trans %}future-applications.gmail.title{% endtrans %}</h4>
                    <p class="text-width">{% trans %}future-applications.gmail.text{% endtrans %}</p>
                </div>
                <div class="col-sm-3 text-center wow fadeIn animated">
                    <div>
                        <i class="icon-connect icon-connect-confluence icon future"></i>
                        <h4>{% trans %}future-applications.confluence.title{% endtrans %}</h4>
                        <p class="text-width">{% trans %}future-applications.confluence.text{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-sm-3 text-center wow fadeIn animated">
                    <div>
                      <i class="icon-connect icon-connect-stripe icon future"></i>
                      <h4>{% trans %}future-applications.stripe.title{% endtrans %}</h4>
                      <p class="text-width">{% trans %}future-applications.stripe.text{% endtrans %}</p>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center m-t-xl m-b-lg">
                <p>{% trans %}future-applications.subtext{% endtrans %}</p>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing">
    <div class="gray-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="navy-line"></div>
                    <h1>{% trans %}pricing.title{% endtrans %}</h1>
                    <p>{% trans %}pricing.text{% endtrans %}</p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 features-text text-md-left">
                    <h2>{{('pricing.section_one.title')|trans}}</h2>
                    <small>{{('pricing.section_one.subtitle')|trans}}</small>
                    <p>{{('pricing.section_one.text')|trans}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeIn animated">
                    <ul class="pricing-plan list-unstyled selected">
                        <li class="pricing-title">
                           {{('pricing.plan.name')|trans}}
                        </li>
                        <li class="pricing-price">
                          <strong>
                            <span>{{('pricing.plan.price_one')|trans}}</span> {{('pricing.plan.line_1')|trans}}
                          </strong>
                        </li>
                        <li>
                          <strong>
                            {{('pricing.plan.line_2')|trans}}
                          </strong>
                        </li>
                        <li>
                            {{('pricing.plan.line_3')|trans}}
                        </li>

                        <li>
                            {{('pricing.plan.line_4')|trans}}
                        </li>
                        <li>
                            {{('pricing.plan.line_5')|trans}}
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-lg btn-primary" href="{{ path('ums_user_add') }}" role="button">{% trans %}button.register{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 features-text">
                    <div class="text-md-right">
                        <h2>{{('pricing.section_two.title')|trans}}</h2>
                        <small>{{('pricing.section_two.subtitle')|trans}}</small>
                    </div>
                    <p class="text-md-justify">{{('pricing.section_two.text')|trans}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
