<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <h1>
                        <a ui-sref="{{ home }}">
                          <i class="icon icon-connect icon-connect-connect"></i>
                          <span class="text" translate>product.name</span>
                      </a>
                    </h1>
                </div>
                <div class="dropdown profile-element">
                    <span>
                        <a ui-sref="settings.profile">
                            <img alt="Gravatar profile image" class="img-circle"
                                gravatar-src="'{{ CN.user.email.address }}'"
                                gravatar-size="80"
                                gravatar-default="mm">
                        </a>
                    </span>
                    <span class="clear">
                            <span class="block m-t-xs">
                                    <strong class="font-bold">{{ CN.user.name }}</strong>
                                    <span class="text-muted text-xs block">{{ CN.user.vendor }}</span>
                            </span>
                    </span>
                </div>
            </li>
            <li ng-repeat="(name, item) in nav"
                ng-class="{special_link: item.special}"
                ng-if="getPermission(item.sref)"
                ui-sref-active="active">
                <a ui-sref="{{ item.sref }}">
                  <i class="{{ item.icon }}"></i>
                  <span class="nav-label">{{ 'nav.' + name | translate }}</span>
                  <span ng-show="item.label" class="label pull-right"
                    ng-class="item.label.class || 'label-warning'">{{ item.label.text | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
