{% extends "::base.html.twig" %}
{% import '::elements.html.twig' as elements %}

{% set attribute = {
      body: {class: "gray-bg"}
} %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@sass_ums' filter='?uglifycss' package='css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
        {% block content %}{% endblock %}
{% endblock %}
