{% extends "ConnectWebBundle::base.html.twig" %}
{% import 'ConnectWebBundle:Home:elements.html.twig' as elements %}

{% set attribute = {
    body: {
        id: "blog",
        class: "list"
    }
} %}

{% block content %}

<div class="main">
    <div class="container">

        <div class="col-md-10 col-md-offset-1">
            <div class="main-text text-center">
                <h1>{% trans %}blog.header.title{% endtrans %}</h1>
                <h2>{% trans %}blog.header.subtitle{% endtrans %}</h2>
                <div class="email-box">
                    <form action="{{ path('ums_user_add') }}" method="get">
                        <input type="email" name="email" placeholder="{% trans %}top_page.placeholder{% endtrans %}" required>
                        <button type="submit" class="btn btn-primary btn-lg">{% trans %}top_page.button{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="list">

    <div class="navy-line"></div>

    {% for post in posts %}
        <blockquote class="article {% if loop.index is even %}gray-section{% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ post.title }}</h1>
                        <p class="author">{{ post.author }} - {{ post.publishDate|date("m/d/Y") }}</p>
                        <p class="intro">{{ post.intro }}</p>
                        <a class="read btn btn-primary btn-sm" href="{{ path('post_get', {'year': post.publishDate|date("Y"), 'month': post.publishDate|date("m"), 'slug': post.slug}) }}#article">{% trans %}blog.post.read{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </blockquote>
    {% endfor %}

</div>

{% endblock %}
