<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins animated fadeIn">
            <div class="ibox-title">
                <h5 translate>tutorial.item.end.title</h5>
            </div>
            <div class="ibox-content">

                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate>tutorial.item.end.section.final.title</label>
                        <div class="col-sm-10" translate><p>tutorial.item.end.section.final.text</p></div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">

                            <span  ng-repeat="btn in button">
                                <cn:button config="btn">{{ "button." + btn.label }}</cn:button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
