<div class="row wrapper border-bottom white-bg page-heading tutorial connection">

    <div class="col-lg-12">
        <h2 translate>tutorial.page.title</h2>
        <p translate>tutorial.page.intro</p>
    </div>

    <div class="col-lg-12 steps">
        <button class="btn"  ng-repeat="(key, sref) in tutorial.nav"
                ng-disabled="tutorial.current() !== key"
                ng-class="{'btn-primary': key <= tutorial.current(), 'btn-default': key > tutorial.current() }">
            {{ key+1 }}. {{ 'tutorial.nav.' + sref | translate }}
        </button>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
     <div ui-view autoscroll="false"></div>
</div>
