{% extends "ConnectAppBundle::base.html.twig" %}

{% block content %}
    <div ng-include="'/html/nav/side.html'"></div>
    <div id="page-wrapper" class="gray-bg {% verbatim %}{{$state.current.name}}{% endverbatim %}">
        {% include "ConnectAppBundle::header.html.twig" %}
        <div ui-view autoscroll="false"></div>
        {% include "ConnectAppBundle::footer.html.twig" %}
    </div>
    {% include "ConnectAppBundle::template.html.twig" %}
{% endblock %}
