{% extends "ConnectUMSSecurityBundle::base.html.twig" %}

{% block content %}

    <div class="middle-box text-center loginscreen  wow fadeIn  animated">
        <div>
            <a class="logo" href="{{ path('index') }}">
              <i class="icon icon-connect icon-connect-connect"></i>
              <span>{% trans %}confirm.title{% endtrans %}</span>
            </a>
            <p class="m-b">{% trans %}confirm.contact_verification{% endtrans %}</p>

                <div class="form-group">
                        <input type="email" class="form-control" value="{{ email }}" disabled>
                </div>

                <a class="btn btn-sm btn-primary btn-block" href="{{ path('app') }}">{% trans %}button.continue{% endtrans %}</a>

            {{ elements.copyright("small m-t") }}
        </div>
    </div>

{% endblock %}
